.container-fluid
    background-color rgb(114, 127, 128)
    padding-top 50px
    padding-bottom 50px
    img 
        display: block
        margin: 0 auto
    p
        color white
        font-family 'Source Sans Pro', sans-serif
        font-size 10px
        font-weight 200
