.container-fluid
    background-color #203145
.row     
    width 1278px
div
    color white  
.col-2
    margin-top 70px
img 
    width 280px
    height 140px
    justify-content flex-end

li  
    color #E8BD36
    
