<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">Vuejs</a>
    <div class="col-11 d-flex justify-content-end">
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control is-valid" placeholder="">
        </div>
        </div>
       </form>
      <ul class="navbar-bar nav">
        <li class="nav-item ">
            <a class="nav-link disabled" href="#">Guide</a>
         </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">APPI</a>
          </li>
        <li class="nav-item">
              <a class="nav-link disabled" href="#">Examples</a>
            </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ecosystem
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Help</a>
              <a class="dropdown-item" href="#">Forum</a>
              <a class="dropdown-item" href="#">Chat</a>
              <a class="dropdown-item" href="#">Templates</a>
            </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Translation
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">中文</a>
            <a class="dropdown-item" href="#">日本語</a>
            <a class="dropdown-item" href="#">Русский</a>
            <a class="dropdown-item" href="#">한국어</a>
            <a class="dropdown-item" href="#">Português</a>
            <a class="dropdown-item" href="#">Français</a>
          </div>
    </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Shop</a>
        </li>
       </ul>
    </div>
</nav>