<div class='contenedor'>
    <div class="bandera" id="suiza"></div>
    <div class="bandera" id="suecia"></div>
    <div class="bandera" id="jamaica"></div>
    <div class="bandera" id="japon"></div>
    <div class="bandera" id="italia"></div>
    <div class="bandera" id="noruega"></div>
    <div class="bandera" id="palestina"></div>
    <div class="bandera" id="botswana"></div>
    <div class="bandera" id="tonga"></div>
    <div class="bandera" id="marruecos"></div>
    <div class="bandera" id="panama"></div>
    <div class="bandera" id="vietnam"></div>
    <div class="bandera" id="cuba"></div>
</div>