.contenedor
    display inline-block
    
.bandera
    width 400px
    height 300px


#suecia
    background #293A8C
   

#jamaica
    background #00AF3C
    

#japon, #cuba, #palestina, #panama
    background white
   

#noruega, #suiza, #vietnam
    background: red;
    

#botswana
    background #7B9CE0
    


#tonga
    background #C50000
    

#marruecos
    background #C30000
   