.suiza
    background: red;

.noruega
    background: red;

.bostwana
    background #7B9CE0

.suecia
    background #293A8C

.tonga
    background #C50000

.marruecos
    background #C30000

.jamaica
    background #00AF3C

.vietnam
    background red;