<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SVG!
  </h1>

  <svg xmlns="http://www.w3.org/2000/svg"
    width="150" height="100" viewBox="0 0 3 2">
    <rect width="1" height="2" x="0" fill="#008d46" />
    <rect width="1" height="2" x="1" fill="#ffffff" />
    <rect width="1" height="2" x="2" fill="#d2232c" />
  </svg>

  <svg width="150" height="100">
    <circle cx="75" cy="50" r="45" stroke="#000000" stroke-width="2" fill="#BC002D" />
  </svg>

  <svg width="150" height="100">
    <rect x="0" y="0" width="150" height="100" stroke="#FF0000" fill="#FFFFFF" />
  </svg>

  <svg width="300" height="200">
    <polygon points="100,10 40,198 190,78 10,78 160,198"
    style="fill:#FF0000;stroke:purple;stroke-width:2;fill-rule:evenodd;" />
  </svg>

  <svg class="suiza" width="300" height="200">
    <rect x="100" y="85" width="100" height="30" style="fill: #ffffff;"></rect>
    <rect x="136" y="50" width="30" height="100" style="fill: #ffffff;"></rect>
  </svg>

  <svg class="noruega" width="400" height="275">
    <rect x="0" y="100" width="400" height="75" style="fill: #ffffff;">
    </rect>
    <rect x="100" y="0" width="75" height="275" style="fill: #ffffff; z-index:-1;">
    </rect>
    <rect x="125" y="0" width="25" height="275" style="fill: #22006B;">
    </rect>
    <rect x="0" width="400" y="125" height="25" style="fill: #22006B; z-index:1;">
    </rect>
  </svg>

  <svg class="palestina" width="500" height="300">
    <rect x="0" y="000" width="500" height="100" style="fill: #000000;"></rect>
    <rect x="0" y="100" width="500" height="100" style="fill: #ffffff;"></rect>
    <rect x="0" y="200" width="500" height="100" style="fill: #00AD07;"></rect>
    <polygon points="0,0, 250,150, 0,300" style="fill: #FF0000">

    </polygon>
  </svg>

  <svg class="bostwana" width="400" height="275">
    <rect x="0" y="100" width="400" height="75" style="fill: #ffffff;">
    </rect>
    <rect x="0" width="400" y="115" height="45" style="fill: #000000; z-index:1;">
    </rect>
  </svg>

  <svg class="suecia" width="400" height="250">
    <rect x="0" y="95" width="400" height="60" style="fill: #FBD200;">
    </rect>
    <rect x="100" y="0" width="60" height="250" style="fill: #FBD200; z-index:-1;">
    </rect>
  </svg>

  <svg class="tonga" width="400" height="250">
    <rect x="0" y="0" height="125" width="180" style="fill: #ffffff;"></rect>
    <rect x="60" width="60" y="42.5" height="20" style="fill: #C50000;"></rect>
    <rect x="80" width="20" y="28" height="50" style="fill: #C50000;"></rect>
  </svg>

  <svg class="marruecos" width="400" height="250">
    <polygon points="175,150, 230,115, 170,115, 225,150, 200,95" style="fill: none;stroke:#006D38;stroke-width:5;fill-rule:evenodd;">

    </polygon>
  </svg>

  <svg class="jamaica" width="400" height="250">
    <line x1="0" y1="0" x2="400" y2="250" style="stroke:#F8E700;stroke-width:20"></line>
    <line x1="0" y1="250" x2="400" y2="0" style="stroke:#F8E700;stroke-width:20"></line>
    <polygon points="0,10, 190,125, 0,240"></polygon>
    <polygon points="400,10, 210,125, 400,240"></polygon>
  </svg>

  <svg class="panama" width="400" height="250">
    <defs>
      <path id="star" transform="scale(25,25)" d="M 0 -1 L 0.588 0.809 -0.951 -0.309 0.951 -0.309 -0.588 0.809 Z" />
    </defs>
    <rect x="0" y="125" width="200" height="125" style="fill:#2A3297;"></rect>
    <rect x="200" y="0" width="200" height="125" style="fill:#D60000;"></rect>
    <use x="100" y="62.5" fill="blue" xlink:href="#star" />
    <use x="300" y="187.5" fill="red" xlink:href="#star" />
  </svg>

  <svg class="vietnam" height="250" width="400">
    <path id="star" fill="yellow" transform="translate(200,125) scale(50,50)" d="M 0 -1 L 0.588 0.809 -0.951 -0.309
               0.951 -0.309 -0.588 0.809 Z" />
  </svg>

  <svg class="cuba" width="400" height="250">
    <rect x="0" y="0" height="50" width="400" style="fill: #310093;"></rect>
    <rect x="0" y="50" height="50" width="400" style="fill: #ffffff;"></rect>
    <rect x="0" y="100" height="50" width="400" style="fill: #310093;"></rect>
    <rect x="0" y="150" height="50" width="400" style="fill: #ffffff;"></rect>
    <rect x="0" y="200" height="50" width="400" style="fill: #310093;"></rect>
    <polygon points="0,0, 180, 125, 0,250" style="fill:#D60000;"></polygon>
    <path id="star" fill="white" transform="translate(70,125) scale(30,30)" d="M 0 -1 L 0.588 0.809 -0.951 -0.309
               0.951 -0.309 -0.588 0.809 Z" />
  </svg>

</div>
