.fun .with 
    padding 50px 30px 20px 30px
    .flags
        text-align center
        h1  
            font-size 60px
        h2  
            color #555555
            font-size 25px
            margin-top 45px
        svg  
            margin-top 16px

