<nav class="navbar">
    <img src="https://data.cityofchicago.org/api/assets/73F1665C-0FE6-4183-8AD1-E91DB8EFAFA4?7CB02402-8E06-48B0-8C9A-3890182D58C7.png" width="187.84" height="65" class="d-inline-block align-top" alt="">
    <ul class="navbar-bar nav">
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Browse</a>
       </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Tutorial</a>
        </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Feedback</a>
          </li>
      <li class="nav-linea">
      <a class="nav-link disabled"></a></li>
      <li class="nav-item"> 
       <a class="nav-link"></a>
      </li>
      <li class="nav-item">
         <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </li>
      <li class="nav-item"> 
          <a class="nav-link"></a>
         </li>
      <li class="nav-item">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
       </li>
       <li class="nav-item"> 
          <a class="nav-link"></a>
         </li>
      <li class="nav-item">
          <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
       </li>
      <li class="nav-linea">
        <a class="nav-link disabled"></a></li>
      <li class="nav-item"> 
            <a class="nav-link"></a>
           </li>
      <li class="nav-item">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </li>
      <li class="nav-linea">
            <a class="nav-link disabled"></a></li>  
            <li class="nav-item"> 
                <a class="nav-link"></a>
               </li>
               <button type="button" class="btn btn-outline-dark">Sign in</button>
</ul>
</nav>
