<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" viewBox="0 0 3 2">
<rect width="150" height="100" x="0" y="0" fill="#d2232c"/>
<rect width=".8" height=".8" x="1" y="1" fill="#ffffff" />
<rect width=".8" height=".8" x="1" y=".2" fill="#ffffff" />
<rect width=".8" height=".8" x=".5" y=".6" fill="#ffffff" />
<rect width=".8" height=".8" x="1.5" y=".6" fill="#ffffff" />
</svg>
<h3>Bandera Suiza</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
  <rect width="150" height="100" x="0" y="0" fill="#006AA7"/>
  <rect width="150" height="30" x="0" y="35" fill="#FECC00" />
  <rect width="30" height="100" x="35" y="0" fill="#FECC00" />
</svg>
  <h3>Bandera Suecia</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
    <rect width="150" height="100" x="0" y="0" fill="#009B3A"/>
    <polygon points="80,50 150,2 200,130" style="fill:#000000;stroke:#F9DA00;stroke-width:8"></polygon>
    <polygon points="-3,0 -3,100 80,48" style="fill:#000000;stroke:#F9DA00;stroke-width:8"></polygon>
    </svg>
<h3>Bandera Jamaica</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
  <rect width="150" height="100" x="0" y="0" fill="#EF2B2D"/>
  <rect width="20" height="100" x="35" y="0" style="fill:#002868"></rect>
  <rect width="150" height="20" x="0" y="35" style="fill:#002868"></rect>
  <rect width="35" height="10" x="0" y="25" style="fill:#ffff"></rect>
  <rect width="35" height="10" x="0" y="50" style="fill:#ffff"></rect>
  <rect width="120" height="10" x="55" y="25" style="fill:#ffff"></rect>
  <rect width="120" height="10" x="55" y="50" style="fill:#ffff"></rect>
  <rect width="10" height="30" x="55" y="0" style="fill:#ffff"></rect>
  <rect width="10" height="30" x="25" y="0" style="fill:#ffff"></rect>
  <rect width="10" height="50" x="55" y="60" style="fill:#ffff"></rect>
  <rect width="10" height="50" x="25" y="60" style="fill:#ffff"></rect>
</svg>
  <h3>Bandera Noruega</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
    <rect width="150" height="30" x="0" y="0" fill="#000000"/>
    <rect width="150" height="30" x="0" y="30" fill="#ffff"/>
    <rect width="150" height="30" x="0" y="60" fill="#007540"/>
    <polygon points="-2,0 -2,90 50,48" style="fill:#D11F33"></polygon>
</svg>
    <h3>Bandera Palestina</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
      <rect width="150" height="100" x="0" y="0" fill="#75AADB"/>
      <rect width="160" height="30" x="-3" y="35" style="fill:#000000;stroke:#ffff;stroke-width:8"/>
</svg>
      <h3>Bandera Botswana</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
  <rect width="150" height="100" x="0" y="0" fill="#C10000"/>
  <rect width="60" height="50" x="0" y="0" fill="#ffff"/>
  <rect width="35" height="15" x="5" y="15" fill="#C10000" />
  <rect width="15" height="35" x="15" y="5" fill="#C10000" />
</svg>
  <h3>Bandera Tonga</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
  <rect width="75" height="40" x="0" y="0" fill="#ffff"/>
  <rect width="75" height="40" x="0" y="50" fill="#0067C6"/>
  <rect width="75" height="40" x="75" y="10" fill="#D21034" />
  <rect width="75" height="40" x="80" y="50" fill="#ffff" />
  <path id="star" fill="#0067C6"
  transform="translate(30,30) scale(15,15)"
  d="M 0 -1 L 0.588 0.809 -0.951 -0.309
              0.951 -0.309 -0.588 0.809 Z"/>
  <path id="star" fill="#D21034"
    transform="translate(110,70) scale(15,15)"
    d="M 0 -1 L 0.588 0.809 -0.951 -0.309
    0.951 -0.309 -0.588 0.809 Z"/>
</svg>
   <h3>Bandera Panamá</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
    <rect width="150" height="100" x="0" y="0" fill="#DA251D"/>
    <path id="star" fill="yellow" transform="translate(75,50) scale(40,40)"
    d="M 0 -1 L 0.588 0.809 -0.951 -0.309
                0.951 -0.309 -0.588 0.809 Z"/>
</svg>
    <h3>Bandera Vietnam</h3>

<svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
      <rect width="150" height="30" x="0" y="0" fill="#002A8F"/>
      <rect width="150" height="30" x="0" y="20" fill="#ffff"/>
      <rect width="150" height="30" x="0" y="40" fill="#002A8F"/>
      <rect width="150" height="30" x="0" y="60" fill="#ffff"/>
      <rect width="150" height="30" x="0" y="80" fill="#002A8F"/>
      <polygon points="-2,0 -2,90 50,48" style="fill:#D11F33"></polygon>
      <path id="star" fill="white"
      transform="translate(15,50) scale(15,15)"
      d="M 0 -1 L 0.588 0.809 -0.951 -0.309
                  0.951 -0.309 -0.588 0.809 Z"/>
</svg>
      <h3>Bandera Cuba</h3>