<div class="container-fluid header">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-6">
      <h2 class="titulo text-center">The web framework of your dreams</h2>
    </div>
  </div>
  <div class="row d-flex  flex-column align-items-center justify-content-center">
    <div class="col-6">
      <p class="subtitle text-center">Built by developers by a giant squid</p>

    </div>
    <div class="col-1">
        <button type="button" class="btn btn-dark ml-auto mr-auto" >Get started</button>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-4">
      <img class="img-fluid" src="http://sailsjs.com/images/hero_squid.png">
    </div>
  </div>
</div>
