.header
  background-color #10ACC2
  height 600px

.titulo
  color white
  font-family Lato, Helvetica, Arial, sans-serif
  padding-top 20px

.subtitle
  color #B1EEF7
  font-family Lato, Arial, Helvetica, sans-serif
