img
  width: 200px
  height: 190px
  margin:0px
  padding: 0px
  border-radius: 15%
.img  
    -webkit-transition: All 0.6863s ease; 
    -moz-transition: All 0.6863s ease; 
    -o-transition: All 0.6863s ease; 
    -webkit-transform: rotate(0deg) scale(1) skew(180deg) translate(0px); 
    -moz-transform: rotate(0deg) scale(1) skew(180deg) translate(0px); 
    -o-transform: rotate(0deg) scale(1) skew(180deg) translate(0px); 
.Img:hover 

    -webkit-transform: rotate(0deg) scale(1.200) skew(180deg) translate(0px); 
    -moz-transform: rotate(0deg) scale(1.200) skew(180deg) translate(0px); 
    -o-transform: rotate(0deg) scale(1.200) skew(180deg) translate(0px); 

div 
  background-color: #7af7d3
  padding: 10px
  margin:0px


	
 