.firstpart 
    background-color rgb(16, 172, 194)
    width auto
    height 536.875px
    padding-top 75px
    padding-bottom 75px
    text-align center
    .row .col-12 
        padding-top 50px
        a:hover
            color rgb(16, 172, 194)    


.button-style 
    text-align center !important;
    background-color black !important;
    font-family 'Lato', sans-serif !important;
    width 240px;
    height 48px;
    margin auto;
    display block;
    font-size 20px;

.text-style-h1 
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;


.text-style-h2 
    font-family: 'Lato', sans-serif;
    color: rgb(177, 238, 247);
    text-align: center;
    font-size: 18px;

