<div class="container-fluid firstpart">
    <div class="row">
        <div class= "col-12"> 
        <h1 class="text-style-h1">The web framework of your dreams.</h1>
        <h2 class="text-style-h2">Built for developers by mermen.</h2>
        <a href="#" class="btn btn-primary btn-lg active button-style" role="button" aria-pressed="true">Get Started</a>        
        <img src="http://sailsjs.com/images/hero_squid.png" class="img-fluid mx-auto d-block" alt="Responsive image">  
        </div>                
    </div>
</div>