.navbar
  background-color #2D343A
  height 55px
  padding-left 70px
  .navbar-brand
    img
      width 65px
      height auto
  .navbar-nav
    a
      color #D5D6D8
      font-size 1rem
      font-weight 300
  .nav-item
    i
      color gray
