<!--The content below is only a placeholder and can be replaced.-->
   <!-- NavBar 
            <nav class="navbar fixed-top navbar-inverse bg-inverse"> -->
                <!-- Navbar content 
                <ul>
                    <li><a href="#top">Top</a></li>
                    <li><a href="#aboutme">About me</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>-->
<ul class="topnav">
                    <li><a href="#aboutme" class="active">About me</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#other-stuff">Other stuff</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
</ul>
    <!-- aboutme -->
    <div class="container-fluid aboutme" id="aboutme">
        <div class="row">
            <div class="col-md-5 offset-1">
                <img id="portrait" src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499439167/me_olkrei.png" class="rounded-circle img-thumbnail img-fluid">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="aboutme-title">About Me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-xs-12 offset-md-1">
                        <p class="aboutme-text">I'm a Civil Engineer with an interest in Science, Astronomy, Design, Programming and animals.<br>                            Some of my hobbies are playing guitar, stargazing, writing in my bullet journal, dogspotting,
                            listening to podcasts & eating tacos.<br>I sincerely believe that Chilaquiles can also be served
                            in dinner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aboutme ends-->
    <!-- PortFolio -->
    <div class="container-fluid portfolio" id="portfolio">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 id="portfolio-title">PortFolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p>These are some of the things I've made:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <a href="https://codepen.io/joselios/pen/dMrwBz"><img class="img-fluid thumbnail-max rounded-circle" src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499436126/t1_dlb1ii.png" title="First FCC page" /></a>
            </div>
            <div class="col-md-4">
                <a href="http://perdidohiperespacio.blogspot.mx/"><img class="img-fluid thumbnail-max rounded-circle" src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499436126/t2_fob23v.png" title="Blog I wrote some time ago" /></a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <a href="https://github.com/puentejose/angularclone"><img class="img-fluid thumbnail-max rounded-circle" src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499446302/t4_cm72lk.png" title="Angular clone" /></a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/puentejose/sailsclone"><img class="img-fluid thumbnail-max rounded-circle" src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499446302/t3_su6b0j.png" title="Sails clone" /></a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- PortFolio ends-->
    <!-- Otter stuff -->
    <div class="container-fluid otherstuff" id="other-stuff">
        <div class="row">
            <div class="col-md-9 offset-md-2">
                <h2 id="otherstuff-title">Other stuff</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500050870/dis4_i8z004.jpg">
                    <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t5.png" title="Vector portrait">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500050869/dis3_cpmny7.jpg">
                <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t6.png" title="Club poster">
                </a>   
            </div>
            <div class="col-md-4">
                <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500050869/dis2_bh9mo6.jpg">
                <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t7.png" title="Club poster">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500050869/dis1_kuvz6r.jpg">
                <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t8.png"  title="Club poster">
                </a>
            </div>
                <div class="col-md-4">
                    <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500051566/galileo_bzt5jh.jpg">
                    <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t9.png"  title="Club poster">
                    </a>
                </div>
            <div class="col-md-4">
                <a href="http://res.cloudinary.com/djqpr1hcf/image/upload/v1500060346/elementaryparticles_bybvbd.png">
                    <img class="rounded-circle thumbnail-max-white-border img-fluid" src="assets/t10.png" title="Club poster">
                </a>
            </div>
        </div>
    </div>
    <!-- Otter stuff ends -->
    <!--Skills & Software-->
    <div id="skills" class="container-fluid skills">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 id="skills-title">Skills & Software</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <ul class="skills-ul">
                    <li>HTML</li>
                    <li>CSS3</li>
                    <li>Git</li>
                    <li>Some Python & C</li>
                    <li>JavaScript</li>
                    <li>Potatoshop</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="skills-ul">
                    <li>AutoCad</li>
                    <li>CivilCad</li>
                    <li>Global Mapper</li>
                    <li>Neodata</li>
                    <li>SAP2000</li>
                    <li>EPA SWMM</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Skills & Software ends-->
    <!-- contact -->
    <div id="contact" class="container-fluid contact">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h3 id="contact-title">Contact</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>You can find me at <a href="https://www.facebook.com/pimpollo">Facebook</a>, <a href="https://github.com/puentejose">github</a>                    & <a href="https://twitter.com/JLu_Puente">Twitter!</a></p>
            </div>
        </div>
    </div>
    <!-- contact ends-->
    <div class="container-fluid footertext">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="footertext">Made with <span class="glyphicons glyphicons-coffee-cup"></span><i class="fa fa-coffee"></i> & <i class="fa fa-heart faa-pulse animated corazon"
                        aria-hidden="true"></i> by José Luis Puente
                </p>
            </div>
        </div>
    </div>

