#logo {
  display: inline-block;
  font-size: 1.5em;
  line-height: 40px;
  color: #2c3e50;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
.vue-logo {
  width: 215px;
  height: 215px;
  float: right;
  margin-right: 60px;
}
#top-btn{
	margin-top: 10%;
}
.btn{
	width: 40%;
	background: #4FC08D;
}
.section-bottom-1{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

}

