<div class="container-fluid footerfinal">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-4">
                    <img class="sails-logo wide-screen" src="http://sailsjs.com/images/logo_sails@2x.png" width="120" height="45">
                    <p class="license-info"><a href="/about">© 2012-2017 The Sails Company.&nbsp;</a>
                        <br>
                        The Sails framework is free and open-source under the MIT License.
                    </p>
            </div>
            <div class="col-5 text-right">
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
                <i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i>
            </div>
          </div>
</div>