.footerfinal
    background-color: #001C20
    color: white
    font-family: 'Lato',Helvetica,Arial,sans-serif

.sails-logo
    display: block
    width: 120px

.license-info
    color: #fff;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;

i
    padding-left: 15px


