<div class="container-fluid">
  <app-title title="GALERÍA"></app-title>
  <div class="row">
    <div class="col-4 image">
      <app-image imgurl="https://i.pinimg.com/736x/0b/28/c1/0b28c11407dca9787083c2edb00db12d--hamtaro-pig-stuff.jpg"></app-image>
    </div>
    <div class="col-4 image">
      <app-image imgurl="https://romanticamitologia.files.wordpress.com/2015/04/imagenes-22.jpg"></app-image>
    </div>
    <div class="col-4 image">
      <app-image imgurl="http://www.gifs-animados.es/clip-art/caricaturas/hamtaro/gifs-animados-hamtaro-985435.jpg"></app-image>
    </div>
  </div>
</div>
