<div class="container-fluid seccuno">
  <div class="row">
    <div class="col-6">
      <h2>Code Faster.</h2>
      <p>Tired of having to run your code to find bugs? Flow identifies problems as you code. Stop wasting your time guessing and checking.</p>
    </div>
    <div class="col-6">
      <img src="https://flow.org/assets/featurette-faster-56e57b5eb50445d2903590e1553797e4637fcc0aa779b09bc9c5c8a8c08a1645.gif"> 
    </div>
  </div>
</div>

<div class="container-fluid seccdos">
  <div class="row">
    <div class="col-6">
      <img src="https://flow.org/assets/featurette-smarter-8c14aaaa6e4b2d51de0c316353a5153fa1a48926fdba05f895772d3ca611ab7b.gif">
    </div>
    <div class="col-6">
      <h2>Code Smarter. </h2>
      <p>It's hard to build smart tools for dynamic languages like JavaScript. Flow understands your code and makes its knowledge available, enabling other smart tools to be built on top of Flow. </p>
    </div>
  </div>
</div>

<div class="container-fluid secctres">
    <div class="row">
      <div class="col-6">
        <h2>Code Confidently.</h2>
        <p>Making major changes to large codebases can be scary. Flow helps you refactor safely, so you can focus on the changes you want to make, and stop worrying about what you might break.</p>
      </div>
      <div class="col-6">
        <img src="https://flow.org/assets/featurette-confidently-8fef503f144332c54f02dbf38b49a8693fdd614bb4c9f7296824f1f44e8475d5.gif"> 
      </div>
    </div>
  </div>

  <div class="container-fluid secccuatro">
      <div class="row">
        <div class="col-6">
          <img src="https://flow.org/assets/featurette-bigger-1bf46c79a08d766c5e04d856bd0e3913cfc2524b8a734f3a1648e04250c7f0b3.gif">
        </div>
        <div class="col-6">
          <h2>Code Bigger.</h2>
          <p>Working in a codebase with lots of developers can make it difficult to keep your master branch working. Flow can help prevent bad rebases. Flow can help protect your carefully designed library from your coworkers. And Flow can help you understand the code you wrote six months ago.</p>
        </div>
      </div>
    </div>