.container-fluid
    z-index 50
    position relative

.seccuno
    background-color white   
    padding-top 30px
    padding-bottom 30px
    z-index 20
    position relative
.seccdos
    background-color #EEEEEE
    padding-top 30px
    padding-bottom 30px
.secctres
    background-color #2D343A
    padding-top 30px
    padding-bottom 30px
.secccuatro
    padding-top 30px
    padding-bottom 30px
    
img 
    width 445px
    height 282px
    margin-top 20px



