@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.navbar-color
    background-color rgb(109, 6, 54) !important;

.navbar-font
    color white !important;
    font-family: 'Roboto Slab', serif;
