.footer {
    height: 200px;
    background-color: black;
    padding-top: 75px;
    padding-bottom: 0px;
    position: relative;
    color: white;
}

.footer .row .col-6 i {
    color: white;
}
.bg-1 {
	background-color: #10ACC2;
	font-family: Helvetica,Arial,sans-serif;
	color: white;
	padding-top: 75px;
    padding-bottom: 75px;
}

.btn-1 {
	background-color: black;
	color: white;
}
.banner {
	width: 90%;
    background-color: white;
}

.bg-3 {
	background-color: white;
	max-width: 992px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.bg-4 {
    font-family: proxima-nova-soft,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    text-align: left;
    padding: 70px;
}

.bg-5 .row .col-12 {
    width: 90%;
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #10ACC2
}

.bg-7 {
	background-color: #10ACC2;
	font-family: Helvetica,Arial,sans-serif;
	color: white;
	padding-top: 125px;
    padding-bottom: 125px;
}

.logo_sails {
	width:100px;
	height:auto;
}

.despegable {
	color: white;
}

.feature-icon {
    height: 80px;
    width: auto;
    margin-bottom: 35px;
}