<br>
<div class="container-fluid">
    <div class="row text-center">
      <div class="col-7">
        <p>Check out the latest developments in the GitHub repo.</p>
       </div>
       <div class="col-5">
          <a class="btn btn-default btn-sm" href="#">
              <i class="fa fa-github"></i> Star</a>
           <a class="btn btn-default btn-sm" href="#">17,735</a>
           <button type="button" class="btn btn-secondary btn-sm">
                <i class="fa fa-thumbs-up"></i>Like</button> 
            <button type="button" class="btn btn-primary btn-sm">
                <i class="fa fa-twitter"></i> Tweet</button> 
             <button type="button" class="btn btn-primary btn-sm">
                 <i class="fa fa-twitter"></i>Follow @sailsjs</button>    
        </div>
       </div>
    </div>
<hr>

