<div class="container-fluid">
  <div class="row">
    <div class="col-5 d-flex justify-content-end">
      <img src="https://vuejs.org/images/logo.png" height="215" width="215">
    </div>
    <div class="col-7 d-flex justify-content-start">
      <div class="row">
        <div class="col-sm-6 col-md-12">
          <h1>The Progressive JavaScript Framework</h1>
        </div>
        <div class="col-sm-6 col-md-12">
          <button type="button" class="btn btn-green btn-lg">G E T  S T A R T E D</button>
          <button type="button" class="btn btn-outline-success btn-lg">G I T H U B</button>
        </div>
      </div>
    </div>
  </div>
</div>