@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
.col-7 .row 
    .col-sm-6 
        h1 
            font-family 'Source Sans Pro', sans-serif
            font-size 3.2em
            font-weight 200
            padding-top 15px
        button.btn-green
            border-radius 50px
            color white
            font-family 'Source Sans Pro', sans-serif
            font-size 1.05em
            background-color rgb(79, 192, 141)
            font-weight 200
        button.btn-outline-success
            border-radius 50px
            color rgb(79, 192, 141) !important 
            border-color rgb(79, 192, 141) !important
            font-weight 200
            font-size 1.05em

    