nav
    background-color #2D343A

.row
    width 1278px

img
    width auto
    height 54px
    padding-right 20px
    margin-left 40px

li   
    color #CACCCD 
    padding-top 10px
    padding-left 10px
    padding-right 10px
    margin-top 3px

i 
    color #D5D6D7
    padding-top 10px
    padding-left 10px
    padding-right 10px
    margin-top 3px  
    justify-content flex-end !important

a   
    color #CACCCD 
  

