<nav class="navbar sticky-top navbar-expand-lg">
  <img routerLink="home" src="https://flow.org/static/ogp-1200x630-1.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid d-flex">
    <div class="row d-flex">
      <div class="col-10 d-flex justify-content-start">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a routerLink="start">Getting Started<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a routerLink="docs">Docs</a>
            </li>
            <li class="nav-item">Try</li>
            <li class="nav-item">Blog</li>
          </ul>
          </div>
        </div>
      <div class="col-2">
        <div class="col-2 d-flex justify-content-end">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i> 
      </div>
    </div>
    </div>
  </div>
</nav>