.footer
    background-color #001C20
    font-family 'Ubuntu'
    .row.foot 
        padding 100px 0 40px 0
        .full
            color #ffffff
            h4 
                font-size 20px
                margin-bottom 15px
            p.built 
                font-size 14px
                font-weight 300
            img 
                width 120px
                height 45px
                margin 75px 0 20px 0
            h6  
                font-size 11px
            p.cr  
                font-size 9px
        .full-r
            color #ffffff
            padding-left 70px
            .nav-item
                margin-right 53px
                h4 
                    font-size 20px
                    margin-bottom 15px
                ul  
                    list-style-type none
                    padding 0
                    font-size 14px
                    li  
                        margin-bottom 14px
                        font-weight 300
                    li:hover
                        color #16ACC2
            .row.media
                margin 0 50px 16px 0
                i  
                    padding-left 32px
                i:hover
                    color #16ACC2

@media (max-width: 600px)
    .footer
        padding 50px 10px 30px 10px
        .row.foot 
            padding 0
            margin 0 15px 0 15px
            text-align center 
            .full
                text-align center 
                h4  
                    display none
                p.built 
                    display none
                img  
                    margin-top 0

            .full-r 
                padding 0
                text-align center
                .row   
                    padding 0
                    text-align center
                    .nav-item
                        text-align center
                        h4   
                            display none
                        ul li  
                            color #16ACC2
                            display inline
                            margin-left 3px
                            margin-right 3px

                    .row.media
                        text-align center
                        margin-right 40px