.foo
  background-color: F8F9FA
  width: 100%
  height: 100px
  margin:20px 0px 0px 0px
.img
   width: 180px
   display: inline
   margin:0px 20px 0px 0px
   padding: 10px
.lstfoo
   display: inline
   margin: 0px  0px 0px 320px
li 
  display: inline-block
  margin 15px