@font-face {
    font-family: Starjedi;
    src: url('star_jedi/starjedi/Starjedi.ttf');
    font-weight:400;
}

body{
  background: url('http://wallpapercave.com/wp/bV3WiYh.jpg');
}
h1, h2  {
    font-family: Starjedi, Helvetica, Arial, sans-serif;
    color: #FFd700;
}
