.header
    height 300px
    padding 0px
    margin 0px
    background-color white
    .row
        height 300px
        p
            color #196F3D
            font-size 60px
            font-weight 800
            font-family Arial, Helvetica, sans-serif
.title
    height 100px
    padding 0px
    margin 0px
    .row
        height 150px
        background-color #58FCB7
        p
        color gray
        font-family 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        font-size 40px
        font-weight 300

.projects
    width 100%
    padding 0
    margin 0
    .row
        background-color #F7F9F9
        .img
            margin 10 px
            