.user-list
    display flex
    flex-wrap: wrap
    flex-direction: column

.user-img 
    height 80px
    width 80px

.user-list 
    li 
        list-style none
        background #f5f5f5
        box-shadow 0px 0px 0px rgba(0, 0, 0, 0.3)

