.nav
  background-color: #001C20
  color: white
  img
    width: 106.19px
    height: 40px

  div
    .btn-group
      button
        .btn
          align-items: left 
          width: 135px
          height: 30px
  ul 
    li 
      color: white




