<nav class="nav sticky-top navbar fond">
  <div class="row">
    <div class="col-12 text-left">
       <img src="http://www.sailsjs.com/images/logo_sails.png">
          <div class="btn-group align-items-left">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" height="30px" width="135px">
           v0.12
          </button>
          <div class="dropdown-menu">
           <h6 class="dropdown-header">Version:</h6>
              <a class="dropdown-item" href="#">v1.0</a>
              <a class="dropdown-item" href="#">v0.12</a>
            </div>
        </div>
      </div>
    </div>
  <ul class="navbar-bar nav">
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Get started</a>
       </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Support</a>
        </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Studio</a>
          </li>
  </ul>
</nav>