.nav
  background-color: #001C20
  color: white
  img
    width: 106.19px
    height: 100%
    padding-left: 40px

  div
    .btn-group
      button
        .btn
          align-items: left 
          width: 135px
          height: 30px
          padding-left: 20px
  ul
    .navbar-bar
      li 
        .nav-item 
          a   
            .nav-link
              .disabled 
                color: white






