<div class="container-fluid">
  <div class="row">
    <div class="col1 col-4 col-md-6 col-lg-4">
      <p>Col1</p>
    </div>
    </div>
    <div class='row'>
    <div class="col-4 col-md-6 col-lg-4">
    </div>
    <div class="col2 col-4 col-md-6 col-lg-4">
      <p>col2</p>
    </div>
    </div>
    <div class='row'>
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
      <div class="col3 col-4 col-lg-4">
        <p>Col3</p>
      </div>
     </div>
  </div>

<div class="footer container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <img class="sails" src="http://sailsjs.com/images/logo_sails@2x.png" alt="sails logo">
      <p><a class="company" href="">© 2012-2017 The Sails Company.</a></p>
      <p class="framework">The Sails framework is free and open-source under the MIT License.</p>
    </div>
    <div class="col-lg-6">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>



    </div>
  </div>

</div>

