.nav
  background-color: #001C20

img
    height: 40px
    width: auto

.formtex
    color: white
    display: inline-block

li
    display: inline
    margin:25px 15px 15px
    padding: 5px
    font-size: 16px
    display inline-block
    //display: list-item
    text-align: -webkit-match-parent

.select
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  color: #FFF;
  width: 100%;
  max-width: 150px;
  background-color: #001C20
  background-color: initial;
  line-height: 28px;
  border-radius: 5px;
  padding: 15px 20px 0 10px;