
<nav class="nav navbar fond">
    <a class="navbar-brand"><img class="logo" src="http://sailsjs.com/images/logo_sails@2x.png" alt="Sails logo" width="106" height="40"></a>
      <select class="select">
          <option selected>V0.12</option>
          <option value="1">V1.0</option>
          <option value="2">V0.12</option>
      </select>
      <ul class="formtex">
        <li>Get started</li>
        <li>Support</li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Reference</a>
              <a class="dropdown-item" href="#">Concepts</a>
              <a class="dropdown-item" href="#">App Structure</a>
            </div>
        </li>
        <li>Studio</li>
      </ul>
</nav>

