<!--The content below is only a placeholder and can be replaced.-->
<header id="header">
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Inicio</a></li>
          <li><a class="smoothscroll" href="#about">Sobre mi</a></li>
          <li><a class="smoothscroll" href="#skills">Conocimientos</a></li>
          <li><a class="smoothscroll" href="#portfolio">Trabajos</a></li>
          <li><a class="smoothscroll" href="#contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div></div>
    <div class="smallsep heading"></div>
    <h1 class="heading"> Alex Fuser</h1>
    <h2 class="heading">Lorem ipsum dolor sit amet</h2>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a> 
</header>
  
<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
<section id="about">
  <div class="container">
    <div class="row">
      <h1>Sobre mi</h1>
      <div class="block"></div>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="row">
      <div class="six columns">
        <h3><span class="typcn typcn-device-desktop icon"></span>Aportes</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"></span>Blog</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Metas</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="six columns">
          <h3><span class="typcn typcn-lightbulb icon"></span>Emprendimientos</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="team">
  <div class="container">
    <div class="row">
      <h1>Me encuentras en</h1>
      <div class="block"></div>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="row">
      <div class="three columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
        <h4>Github</h4>
     </div>
      <div class="three columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
        <h4>Freecodecamp</h4>
     </div>
      <div class="three columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
        <h4>Codecademy</h4>
     </div>
      <div class="three columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
        <h4>Codewars</h4>
     </div>
    </div>
  </div>
</section>

<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="skills">
  <div class="container">
    <h1>Conocimientos</h1>
    <div class="block"></div>
    <div class="row">
      <div class="one-third column">
        <h3>Vizualizacion de datos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
      <div class="one-third column">
        <h3>Frontend</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
      <div class="one-third column">
        <h3>Backend</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <div class="progressBar">
          <h4>HTML5</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-90"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>CSS3</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-80"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Jquery</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-30"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>JavaScript</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-70"></div>
          </div>
        </div>
      </div>
      <div class="four columns">
        <p>Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="portfolio">
  <div class="container">
    <h1>Trabajos</h1>
    <div class="block"></div>
    <div class="row">
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four"/></div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight"/></div>
    </div>
  </div>
</section>

<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="testimonial">
  <div class="container">
    <div class="quoteLoop">
      <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &rdquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;<br>
          <small>Steve Bruce, Sed ut perspiciatis unde omnis</small></h5>
      </blockquote>
      <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &ldquo;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.&rdquo;<br>
          <small>Tom Jones, Sed ut perspiciatis unde omnis</small></h5>
      </blockquote>
    </div>
  </div>
</section>

<!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="contact">
  <div class="container">
    <h1>Contacto</h1>
    <div class="block"></div>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleRecipientInput">Nombre</label>
          <input class="u-full-width" type="text">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Email</label>
          <input class="u-full-width" type="email">
        </div>
      </div>
      <div class="row">
        <label for="exampleMessage">Mensaje</label>
        <textarea class="u-full-width"></textarea>
        <input class="button-primary" type="submit" value="Enviar">
      </div>
    </form>
  </div>
</section>

<!-- Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<footer>
  <div class="container">
    <div class="nine columns">
      <p>Creado con amor por Alex Fuser.</p>
    </div>
    <div class="three columns"> <span class="typcn typcn-social-tumbler-circular socialIcons"></span> <span class="typcn typcn-social-github-circular socialIcons"></span> <span class="typcn typcn-social-twitter-circular socialIcons"></span> </div>
  </div>
</footer>