  <div align="center">
  <img class="marco img-fluid "src="http://res.cloudinary.com/djqpr1hcf/image/upload/v1499395804/garciaesquivel_hqtusg.jpg"></div>
  <h2 class="titulo">Juan García Esquivel!</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 offset-3 fondo">
    <p class="biography">Coauthor of one of the most recognizable pieces of all time – The universal studio fanfare – Esquivel was a composer ahead of his time. Known as the king of space age music and playing the opening act for Frank Sinatra in Las Vegas, his story started in Mexico.</p>
    <p class="biography">He was born in Tampico, Tamaulipas, a state situated in northeast Mexico but he grew up in Mexico City, where he studied to be an electrical engineer, his degree would prove useful when he decided to experiment with stereo and electric music. Since
      childhood he showed musical talent, playing piano and composing music so it isn’t rare that he ended up working at a radio station before he was 15. Completely self-taught, he learned from listening and playing music and from every book he could
      get his hands on.
    </p>
    <p class="biography"> In 1958 he was hired by RCA and he moved to America, where he started working for Universal Studios doing musical pieces for television series. His music it’s almost instantly recognizable because of his signature piano runs, vocals and playful mood.
      He did covers of Mexican popular songs like <i>Bésame mucho</i> and <i>La bamba</i>.</p>
        </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-4 fondo">
    <h3 class="encabezadolista">Famous Songs:</h3>
        <ul>
          <li><i>Mucha Muchacha</i></li>
          <li><i>Mini skirt</i></li>
          <li><i>Boulevard of Broken Dreams</i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-4 fondo">
    <p class="playlist-link"><a href="https://youtu.be/2NglD0H-cps?list=RDEMQxEdYY2HTEbcdZPXMnv3WQ" target="_blank">You can listen to his music on YouTube</a></p>
      </div>
    </div>
  </div>