
@media (min-width: 310px) {  }
.contenidos
  width: 80%
  margin: 0px
  padding: 0px
  display: inline-block
  box-sizing: content-box
  
.diseñ
    margin 0% 0px 0px 10px 
    width: 100%
    box-sizing: content-box
    display: block
    
.padd
    padding: 50px 0px
    .textdecrip
        p
          padding:20px 0px 0px 0px
          display: inline-block
.btngit
    border-radius: 5px
    border: 0px
    cursor: pointer
    font-size: 12px
.btnfb
    border-radius: 5px
    border: 0px
    cursor: pointer
    background-color: #4080FF
    color: white
    font-size: 12px
.btngitcnt
    border-radius: 5px
    border: 0px
    cursor: pointer
    font-size: 12px
.btngitcnt:hover{color:#1B95E0;}
.btntw
    border-radius: 5px
    border:0px
    cursor: pointer
    background-color: #1B95E0
    color: white
    font-size: 12px
.btnftw
    border-radius: 5px
    border:0px
    cursor: pointer
    background-color: #1B95E0
    color: white
    font-size: 12px
         
img 
    align:center
    padding: 0px 0px 0px  0px
    margin: 0px
    box-sizing: content-box
    
    
h6 
   margin: 0px 10px 20px 15px
   padding: 0px
   color: #91D9E3
 
  
.arrow
   padding: 20px 10px 0px 15px
   margin: 20px 10px 0px 15px
   color: #91D9E3
.arrow:hover { color: #d5d5d5; }
   