<div class="container-fluid contenidos">
   <div class="row d-flex align-items-center justify-content-center  ">
      <div class="col-8 textdecrip">
        <p>Check out the latest developments in the GitHub repo.</p>
      </div> 
      <div class="col-4">
        <button type="button" class="btngit"><i class="fa fa-github" aria-hidden="true"></i>Star</button>
        <a class="gh-count" id="gh-count" aria-label="17,738 stargazers on GitHub" href="https://github.com/balderdashy/sails/stargazers" target="_blank"><button type="button" class="btngitcnt" >17,738</button></a>
        <button type="button" class="btnfb"><i class="fa fa-github" aria-hidden="true"></i>  Me gusta 65</button>
        <button type="button" class="btntw"><i class="fa fa-twitter" aria-hidden="true"></i>Tweet</button>
        <button type="button" class="btnftw"><i class="fa fa-twitter" aria-hidden="true"></i>Follow @sailsjs</button>
      </div>  
   </div>
   <hr width="100%" >   
   <div class="row d-flex align-items-center justify-content-center padd ">
         <div class="col-8 align-items-center justify-content-center  ">
            <h3 ALIGN="center">Sails makes it easy to build custom, enterprise-grade Node.js apps.</h3> 
            <p ALIGN="center">
                Build practical, production-ready Node.js apps in a matter of weeks, not months. 
                Sails is the most popular MVC framework for Node.js, designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable,
              service-oriented architecture.
              
            </p>
         </div>
   </div>
  <div class="container row d-flex align-items-center justify-content-center diseñ col-12">
    <div class="col-4">
      <img src="http://sailsjs.com/images/feature_javascript.png">
      <h5>100% JavaScript.</h5>
      <p>Building on top of Sails means your app is written entirely in JavaScript, the language you and your team are already using in the browser. </p>
    </div>
    <div class="col-4">
        <img src="http://sailsjs.com/images/feature_database.png">
        <h5>Any database.</h5>
        <p>Sails bundles a powerful ORM, Waterline, which provides a simple data access layer that just works, no matter what database you're using.  </p>
    </div>
    <div class="col-4">
        <img src="http://sailsjs.com/images/feature_api.png">
        <h5>Auto-generate REST APIs.</h5>
        <p>Sails comes with blueprints that help jumpstart your app's backend without writing any code.  </p>
    </div>
  </div>
  <div class="container row d-flex align-items-center justify-content-center diseñ">
      <div class="col-4">
        <img src="http://sailsjs.com/images/feature_frontend.png">
        <h5>Front-end agnostic.</h5>
        <p>Sails is compatible with any front-end strategy;
           whether it's Angular, Backbone, iOS/ObjC, Android/Java, Windows Phone, custom hardware, or something else entirely. </p>
      </div>
      <div class="col-4">
          <img src="http://sailsjs.com/images/feature_sockets.png">
          <h5>Easy WebSocket integration</h5>
          <p>Since Sails translates incoming socket messages for you, they're automatically compatible with every route in your Sails app. </p>
      </div>
      <div class="col-4">
          <img src="http://sailsjs.com/images/feature_support.png">
          <h5>Professional support</h5>
          <p>Sails offers commercial support to accelerate development and ensure best practices in your code.
            
          </p>
      </div >
       
      <div>
          <div class="col-12">
              <h6>Learn more about Sails's features <i class="fa fa-arrow-circle-o-right fa-2x arrow" aria-hidden="true"></i></h6>
          </div>
      </div>
    </div>
</div>