.features 
    padding-bottom 50px
    padding-left 7%
    padding-right 7%
    .row 
        padding-top 3%
        font-family 'Ubuntu'
        color #4B4B4B
        img 
            height auto
            width 120px
            margin-bottom 30px
        h1  
            font-size 19px
            font-weight 500
        p  
            font-size 17px
            font-weight 300
            color #757575

    .row.learn
        padding-top 50px
        
        p 
            color #16ACC2
            font-weight 400
            i   
                margin-left 15px
        p.small
            display none

@media (max-width: 600px)
    .features 
        .row
            padding 0
            img     
                display none
            h1  
                margin-top 32px
        .row.learn
            p.full
                display none
            p.small
                display inline-block