.features 
    .row 
        padding-left 7%
        padding-right 7%
        padding-top 3%
        img 
            height auto
            width 120px
            margin-bottom 30px
        h1  
            font-size 17px
            font-weight 700
        p  
            font-size 16 px

       