body {
	font-family: 'Josefin Slab', serif;
}


.cont-back {
	background-color: #152740;
}

.orange-let {
	color: #ffa700;
	text-align: center;
	font-size:14px;

}
.white-let {
	color: white;
	text-align: left;
	font-size: 10px;

}