.navbar
  background-color #2D343A
  .navbar-brand
    img
      width auto
      height 60px
  .navbar-nav
    a
      color #D5D6D8
      font-size 1em
  .nav-item
    i
      color #d5d6d8
      font-size: 1.2em
      padding: 0 4px