<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SVG!
  </h1>

  <svg xmlns="http://www.w3.org/2000/svg"
    width="150" height="100" viewBox="0 0 3 2">
    <rect width="1" height="2" x="0" fill="#008d46" />
    <rect width="1" height="2" x="1" fill="#ffffff" />
    <rect width="1" height="2" x="2" fill="#d2232c" />
  </svg>

  <svg width="150" height="100">
    <circle cx="75" cy="50" r="45" stroke="#000000" stroke-width="2" fill="#BC002D" />
  </svg>

  <svg width="150" height="100">
    <rect x="0" y="0" width="150" height="100" stroke="#FF0000" fill="#FFFFFF" />
  </svg>

  <svg width="300" height="200">
    <polygon points="100,10 40,198 190,78 10,78 160,198"
    style="fill:#FF0000;stroke:purple;stroke-width:2;fill-rule:evenodd;" />
  </svg>


</div>
<div class="container">
<div class="row top">
  Suiza

  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#FF0000" fill="#FF0000" />
    <line x1="85" y1="85" x2="205" y2="85" stroke-width="40" stroke="white"/>
    <line x1="145" y1="25" x2="145" y2="145" stroke-width="40" stroke="white"/>
  </svg>


Suecia
  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#005187" fill="#005187" />
    <line x1="0" y1="85" x2="290" y2="85" stroke-width="30" stroke="#FFC021"/>
    <line x1="115" y1="0" x2="115" y2="175" stroke-width="30" stroke="#FFC021"/>
  </svg>

  Jamaica
    <svg width="290" height="175">

      <rect x="0" y="0" width="290" height="175" stroke="#1C8933" fill="#1C8933" />
      <line x1="0" y1="0" x2="290" y2="175" stroke-width="30" stroke="#FCD926"/>
      <line x1="0" y1="175" x2="290" y2="0" stroke-width="30" stroke="#FCD926"/>
      <polygon points="0,18 0,160 116,87 "
      style="fill:black" />
      <polygon points="290,18 290,160 166,87 "
      style="fill:black" />
    </svg>

Japon
<svg width="290" height="175">

  <rect x="0" y="0" width="290" height="175" stroke="grey" fill="#FFFFFF" />
  <circle cx="145" cy="87.5" r="50" stroke="#000000" stroke-width="0" fill="#BC002D" />
</svg>


</div>
<div class="row top">
  Italia
  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#FFFFF" fill="#FFFFFF" />
    <rect x="0" y="0" width="97" height="175" stroke="#00904B" fill="#00904B" />
    <rect x="194" y="0" width="97" height="175" stroke="#D53039" fill="#D53039" />
  </svg>

  Noruega
    <svg width="290" height="175">

      <rect x="0" y="0" width="290" height="175" stroke="#F92C2C" fill="#F92C2C" />
      <line x1="0" y1="85" x2="290" y2="85" stroke-width="52" stroke="white"/>
      <line x1="110" y1="0" x2="110" y2="175" stroke-width="52" stroke="white"/>
      <line x1="0" y1="85" x2="290" y2="85" stroke-width="25" stroke="#002867"/>
      <line x1="110" y1="0" x2="110" y2="175" stroke-width="25" stroke="#002867"/>
    </svg>

    Palestina
    <svg width="290" height="175">

      <rect x="0" y="0" width="290" height="175" stroke="#00971C" fill="#00971C" />
      <rect x="0" y="0" width="290" height="58" stroke="black" fill="black" />
      <rect x="0" y="58" width="290" height="58" stroke="white" fill="white" />
      <polygon points="0,0 0,175 125,87 "
      style="fill:#FF0E00" />
    </svg>
    Botswana
      <svg width="290" height="175">

        <rect x="0" y="0" width="290" height="175" stroke="#6DA9D9" fill="#6DA9D9" />
        <line x1="0" y1="85" x2="290" y2="85" stroke-width="48" stroke="white"/>

        <line x1="0" y1="85" x2="290" y2="85" stroke-width="35" stroke="black"/>

      </svg>
</div>
<div class="row top">
  Tongo

  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#FF0000" fill="#FF0000" />
    <rect x="0" y="0" width="130" height="90" stroke="#white" fill="white" />
    <line x1="35" y1="45" x2="95" y2="45" stroke-width="20" stroke="#FF0000"/>
    <line x1="65" y1="15" x2="65" y2="75" stroke-width="20" stroke="#FF0000"/>
  </svg>



Marruecos
  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#CD0B00" fill="#CD0B00" />
    <polygon points="138,50 109,127 183,78 93,78 170,127"
    style="fill: transparent;stroke:#008318;stroke-width:10;" />

  </svg>

  Panama
    <svg width="290" height="175">
      <defs>
  <path id="star" transform="scale(25,25)"
   d="M 0 -1 L 0.588 0.809 -0.951 -0.309 0.951 -0.309 -0.588 0.809 Z"/>
 </defs>

 <rect x="0" y="0" width="290" height="175" stroke="#FFFFF" fill="#FFFFFF" />
 <rect x="0" y="87.5" width="145" height="87.5" stroke="#0067C3" fill="#0067C3" />
 <rect x="145" y="0" width="145" height="87.5" stroke="#D53039" fill="#D53039" />
 <use x="72.5" y="44" fill="#0067C3" xlink:href="#star"/>
 <use x="217.5" y="131.5" fill="#D53039" xlink:href="#star"/>

    </svg>
    Vietnam
      <svg width="290" height="175">


        <rect x="0" y="0" width="290" height="175" stroke="#E22B21" fill="#E22B21" />
        <path id="star" fill="yellow"
           transform="translate(145,87.5) scale(50,50)"
           d="M 0 -1 L 0.588 0.809 -0.951 -0.309
                       0.951 -0.309 -0.588 0.809 Z"/>
      </svg>

</div>
<div class="row top">
  Cuba
  <svg width="290" height="175">

    <rect x="0" y="0" width="290" height="175" stroke="#002E8C" fill="#002E8C" />
    <rect x="0" y="35" width="290" height="35" stroke="white" fill="white" />
    <rect x="0" y="70" width="290" height="35" stroke="#002E8C" fill="#002E8C" />
    <rect x="0" y="105" width="290" height="35" stroke="white" fill="white" />
    <polygon points="0,0 0,175 125,87 "
    style="fill:#FF0E00" />
    <path id="star" fill="white"
       transform="translate(45,87.5) scale(25,25)"
       d="M 0 -1 L 0.588 0.809 -0.951 -0.309
                   0.951 -0.309 -0.588 0.809 Z"/>

  </svg>
</div>
</div>
