<div class="container-fluid seccyellow">
  <div class="row">
    <div class="col-12">
      <h2>Ready to get going?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-outline-dark">GET STARTED</button>
        <button type="button" class="btn btn-outline-dark">INSTALL FLOW</button>
    </div>
  </div>
</div>

<div class="container-fluid text">
  <div class="row">
    <div class="col-6">
      <h2>Type Inference</h2>
      <p>Using data flow analysis, Flow infers types and tracks data as it moves through your code. You don't need to fully annotate your code before Flow can start to find bugs. </p>
    </div>
    <div class="col-6">
      <h2>JavaScript, Your Way </h2>
      <p>Flow is designed to understand idiomatic JavaScript. It understands common JavaScript patterns and many of the weird things we JavaScript developers love to do. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Realtime Feedback </h2>
      <p>Flow gives you fast feedback while you code by incrementally rechecking your code as you make changes. </p>
    </div>
    <div class="col-6">
      <h2>Easy Integration </h2>
      <p>Flow integrates well with many tools, making it easy to insert into your existing workflow and toolchain. </p>
    </div>
  </div>
</div>