<div class="container-fluid">
  <app-rm-title title="GALERÍA"></app-rm-title>
  <div class="row">
    <div class="col-4 image">
      <app-image imgurl="https://vignette2.wikia.nocookie.net/rickandmorty/images/4/4b/S1e1_Rick-and-morty.png"></app-image>
    </div>
    <div class="col-4 image">
      <app-image imgurl="http://vignette4.wikia.nocookie.net/rickandmorty/images/5/52/Parasitemmooorrttyy.png"></app-image>
    </div>
    <div class="col-4 image">
      <app-image imgurl="https://vignette2.wikia.nocookie.net/rickandmorty/images/c/cd/Furniture.png"></app-image>
    </div>
  </div>
</div>
