<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="">
    <img class="logo-sails" src="http://sailsjs.com/images/logo_sails.png">
  </a> 
  <div class="version" is="topbar-version-info" data-current-site-version="0.12">
    <div is="dropdown" class="custom-dropdown" id="dropdowns--1" data-is-mousedown-focusable="true">
      <div class="dropdown-wrapper">
        <div is="options-container" class="options-container" style="display: none;">
          <ul is="inner-options-container" class="contents" style="max-height: 421px;">
            <li is="choice" class="choice disabled">Version:</li>
            <li is="choice" class="choice">v1.0</li>
            <li is="choice" class="choice imminent">v0.12</li>
          </ul>
        </div>
        <div class="resting-state" is="dropdown-resting-state">
          <span is="placeholder-text">v0.12</span> <i class="dropdown-arrow-icon sails-icon icon-arrow-select"></i>
        </div>
      </div>
      <textarea is="offscreen" style="position: absolute; left: -9999px;">
        </textarea>
      </div>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto item-nav">
      <li class="nav-item "><a class="nav-link" href="#">Get Started</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Support</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Documentation</a></li>
      <li class="nav-item "><a class="nav-link" href="#">Studio</a></li>
    </ul>
  </div>
</nav>
