img {
    height: 215px;
    width: 215px;
}

.subheader {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

h2 {
    color: #42b983;
}

.container-fluid {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    padding-top: 40px;
}

.btn-green {
    background-color: #4FC08D;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 30px;
    color: white;
    width: 174px;
    height: 45px;
    border-radius: 15px;
}

.btn-outline-success {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 30px;
    width: 174px;
    height: 45px;
    border-radius: 15px; 
}