<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col-6 d-flex">
      <img class="img-fluid justify-content-center" src="https://vuejs.org/images/logo.png" alt="215px">
    </div>
    <div class="col-6 d-flex justify-content-center">
      <h1>The Progressive JavaScript Framework</h1>
    </div>
  </div>
</div>
<div class="container fluid">
  <div class="row subheader text-center">
    <div class="col-4 text-center">
      <h2>Approachable</h2>
      <p>Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
    </div>
    <div class="col-4">
        <h2>Versatile</h2>
        <p>An incrementally adoptable ecosystem that scales between a library and a full-featured framework.</p>
    </div>
    <div class="col-4">
        <h2>Performant</h2>
        <p>20kb min+gzip Runtime
            Blazing Fast Virtual DOM
            Minimal Optimization Efforts</p>
    </div>
  </div>
</div>