<div class="container-fluid home">
  <div class="row d-flex text-center justify-content-center align-items-center">
    <div class="col-12 primero">
      <app-title title="lima limón"></app-title>
      <app-imagen url="https://previews.123rf.com/images/jomaplaon/jomaplaon1305/jomaplaon130500016/19489779-lim-n-personaje-de-dibujos-animados-fruta-amarilla-sonriente-feliz-Foto-de-archivo.jpg"></app-imagen>
      <app-imagen url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4TpOD-LnVMiFuVtry1kKjpniM15GgHG1EFj_KMlR3Ui7gzhA"></app-imagen>
    </div>
    <div class="col-12">  
      <app-title title="pommes anana"></app-title>
      <app-imagen url="https://static.tumblr.com/ae91fe4b3147c29d61f173ffc357a2f7/4v6sitw/VuXnzpuan/tumblr_static_tumblr_static_5e2oh8g698sookoswo0ssgogw_640.jpg"></app-imagen>
      <app-imagen url="https://s-media-cache-ak0.pinimg.com/736x/87/83/9f/87839ff4bb6a844eb422148e86cb6933--summer-sunglasses-ray-ban-sunglasses.jpg"></app-imagen>
    </div>
  </div>
</div>
