rm-blue = #00A0C4
rm-yellow = #D3DF54

.title
  height 200px
  color #03CBEC
  text-shadow -3px 0 rm-yellow, 0 3px rm-yellow, 3px 0 rm-yellow, 0 -3px rm-yellow
  font-size 100px
  p
    margin-bottom 0px
  span
    font-size 80px
