<div class = "container-fluid home">
  <div class = "row d-flex justify-content-around align items-center">
    <div class = "col-6 songs">
      <h2>Metallica</h2>
      <ul>
        <li *ngFor= "let song of songs">{{song.title}}</li>
      </ul>
    </div>
    <div class = "col-6 tabs">
        <div class = "col-6 songs">
            <h2>Nirvana</h2>
            <ul>
              <li *ngFor= "let song of songs2">{{song.title}}</li>
            </ul>
          </div>
    </div>
  </div>
</div>




