<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img class="d-inline-block align-top" src="https://data.cityofchicago.org/api/assets/73F1665C-0FE6-4183-8AD1-E91DB8EFAFA4?7CB02402-8E06-48B0-8C9A-3890182D58C7.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <i class="fa fa-github-alt fa-lg" aria-hidden="true"></i> 
      </li>
      <li class="nav-item">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> 
      </li>
      <li class="nav-item">
        <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
      </li>
      <li class="nav-item">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
      </li>
    </ul>
    <form class="form-inline ">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
    </form>
  </div>
</nav>