<div class="container-fluid footer">
  <div class="row d-flex text-center justify-content-center align-items-center">
    <div class="logo col-12">
      <img alt="logo" src="https://data.cityofchicago.org/api/assets/FF6A8E2F-9E44-4A23-AB53-60E5E4D14E7A?city-seal-small.png">
    </div>
    <div class="links col-8 col-offset-2 align-items-center">
      <ul class="d-flex justify-content-around align-self-items">
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Web Standards</li>
        <li>Site Feedback</li>
        <li>Catalog</li>
        <li>API Documentation</li>
      </ul>
    </div>
    <div class="copyrigth col-12">
      <div class="row d-flex justify-content-center">
        <p>© 2017 City of Chicago</p>
        <app-media></app-media>  
      </div>
    </div>
  </div>
</div>
