<br>
<svg width="50" height="50">
  <circle cx="25" cy="25" r="22"
  fill="blue" stroke="gray" stroke-width="2"/>
</svg>
<div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-6">
              <h1>Contracts</h1>
  
          </div>
          <div class="col-6">
            <div class="container d-flex justify-content-center align-items-center">
              <div class="btn-group">
                  <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore Data 
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">View data</a>
                        <a class="dropdown-item" href="#">OPEN IN</a>
                      </div>
                    </div>
                  <button type="button" class="btn">Download</button>
                  <button type="button" class="btn">API</button>
              </div> 
            </div>
        </div>
        
<hr>

<div class="row justify-content align-items-center">
          <div class="col-6">
            <p>Contracts and modifications awarded by the City of Chicago since 1993. This data is currently maintained in the City’s Financial Management and Purchasing System (FMPS), which is used throughout the City for contract management and payment.
                Legacy System Records. 
            </p>
          </div>
          <div class="col-6">
            <p>Updated August 31, 2017<br>
                Data Provided by City of Chicago</p>
          </div>
        </div>
  
    </div>
 </div>


 
 <app-contracts></app-contracts>
