<div class="container-fluid header">
  <div class="row">
    <div class="col-6">
    <h1>Getting Started </h1>
    <p>Introduction to type checking with Flow </p>
    </div>
    <div class="col-6">
    <input type="text" class="form-control" placeholder="Search Docs">  
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <p>Flow is a static type checker for your JavaScript code. It does a lot of work to make you more productive. Making you code faster, smarter, more confidently, and to a bigger scale.</p>
      <p>Flow checks your code for errors through static type annotations. These types allow you to tell Flow how you want your code to work, and Flow will make sure it does work that way.</p>
      
    </div>
  </div>
</div>
