.container-fluid
    height 200px
    padding-top 50px
    padding-bottom 50px
    background-color #FFFFFF
h1   
    font-family 'Lato', sans-serif
    text-align center
    font-size 24px
    color rgb(75, 75, 75)
    font-weight 300
p 
    font-family 'Lato', sans-serif
    text-align center
    font-size 16px
    color #B4B4B4

