@import url('https://fonts.googleapis.com/css?family=Lato');

.row .col-4
    h1
        color white
        font-family 'Lato', sans-serif
        box-sizing border-box
        font-size 22px
        line-height 26px
        font-weight 300
        margin-bottom 10px
        margin-left -50px
    p
        color white
        font-family 'Lato', sans-serif
        font-size 14px
        line-height 20px
        font-weight 300
        margin-left -50px
        a
            color rgb(176, 238, 247)
        a:hover
            color rgb(16, 172, 194)

.col-5
    .row 
        margin-left 100px
        .col-4
            padding-right 50px
            h2
                color white
                font-family 'Lato', sans-serif
                box-sizing border-box
                font-size 22px
                line-height 26px
                font-weight 300
                margin-bottom 15px
                margin-left -50px
            p
                font-size 14px
                color white
                font-family 'Lato', sans-serif
                a
                    color white
                a:hover
                    color rgb(16, 172, 194)


.prefooter
    background-color black
    padding-top 75px 



.footer .row
    background-color black
    padding-bottom 60px    
    .col-5
        padding-left 30px
        p   
            color white
            font-size 11px
            font-family 'Lato', sans-serif 

            a
                color white
                font-size 11px
                font-family 'Lato', sans-serif
            a:hover
                color rgb(16, 172, 194)
    .d-flex
        padding-top 30px
        i
            color white
            padding-top 30px
            padding-right 30px
        i:hover
            color rgb(16, 172, 194)

//rgb(176, 238, 247)
