<div class="container-fluid prefooter">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h1>Built with Love</h1>
            <p>The Sails framework is maintained by a <a src="#">web & mobile studio in Austin, TX</a>, 
                with the help of our contributors. We created Sails in 2012 to assist us on Node.js projects.
                we open-sourced it. We hope it makes your life a little bit easier!</p>
        </div>


        <div class="col-5">
            <div class="row">
                <div class="col-4">
                    <h2>Sails</h2>                       
                        <p class="text-left"><a>What is Sails?</a></p>
                        <p class="text-left"><a>Treeline IDE</a></p>
                        <p class="text-left"><a>Contribute</a></p>
                        <p class="text-left"><a>Logos/artwork</a></p>
                        
                </div>
                <div class="col-4">
                    <h2 class="text-left">About</h2>
                        <p class="text-left"><a>The Sails Company</a></p>
                        <p class="text-left"><a>Security</a></p>
                        <p class="text-left"><a>News</a></p>
                        <p class="text-left"><a>Legal</a></p>
                </div>

                <div class="col-4">
                    <h2 class="text-left">Help</h2>
                        <p style="color: white !important" class="text-left"><a>Get started</a></p>
                        <p class="text-left"><a>Documentation</a></p>
                        <p class="text-left"><a>Enterprise</a></p>
                        <p class="text-left"><a>Hire us</a></p>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <img width="120" height="45" src="http://sailsjs.com/images/logo_sails.png">
            <p><a href="#">2012-2017 The Sails Company.</a></p>
            <p>The Sails framework is free and open-source under the MIT License.</p>
        </div>
        <div class="col-5 d-flex justify-content-center">
                <div>
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i>
                </div>
        </div>
    </div>
</div> 