.footer 
    height 200px;
    background-color black;
    padding-top 75px;
    position relative;
    color white;


.prefooter 
    height 300px;
    background-color black;


.footer .row 
    height 200px;


.footer .row .col-6 i 
    color white;

