.navbar
    background-color: white !important
    .container
        padding-left 50px
        .navbar-brand
            font-size 1.8em
            font-family 'Dosis', sans-serif;
            font-weight 300
    input 
        border-radius 50px
        padding-top 8px
        height 31px
    .nav-item .nav-link.dropdown-toggle
            width 120px



