<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <div class="container">
      <div class="d-flex justify-content-start">
        <a class="navbar-brand" href="#">Vue.js</a>
      </div>
    </div>

    <div class= "container">
      <div class="d-flex justify-content-end">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Guide<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">API</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Examples</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ecosystem</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id= "dropStyle">Help</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Forum</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Chat</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Templates</a>
              </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Translations</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Shop</a>
          </li>
          </ul>
      </div>  
    </div>
  </div>
</nav>