.contracts .row 
    padding-top 15px
    padding-left 50px
    .header 
        p 
            background-color #F1F1F1
            margin-left 18px
            font-size 13px
    .btn-group .button
        border solid 
        border-color #C8C8C8
        border-width 1px
        border-radius 0px
        background-color #E4E4E4
        text-align center 
        font-size 13px
        display inline-block
        color #5E5E5E
        padding-right 12px
    .btn-group .btn-primary
        background-color #288DC1
        color #ffffff
