.contracts 
    padding-top 3%
    padding-left 12%
    padding-right 14%
    border-bottom solid 
    border-color #C8C8C8
    border-width 1px
    .row.header 
        border-bottom solid 
        border-color #C8C8C8
        border-width 1px
        padding-bottom 1%
        padding-right 1%
        div p 
            margin-left 10px
            margin-bottom 9px
            background-color #F1F1F1
            font-size 13px
    .btn-group 
        //width 400px
        .button
            border solid 
            border-color #C8C8C8
            border-width 1px
            border-radius 0px
            background-color #E4E4E4
            text-align center 
            font-size 13px
            display inline-block
            color #5E5E5E
            padding-right 12px
    .btn-group .btn-primary
        background-color #288DC1
        color #ffffff

    .row.text
        text-align justify
        
