@import url('https://fonts.googleapis.com/css?family=Lato');
.container-fluid
    height 300px
    padding-top 80px
    padding-bottom 80px
    background-color: rgb(16, 172, 194)
    h1
        font-family: 'Lato', sans-serif
        color white
        text-align center
        font-size 32px
    p
        font-family: 'Lato', sans-serif
        color white
        text-align center
        font-size 18px

.button-style
    text-align: center !important;
    background-color: black !important;
    font-family: 'Lato', sans-serif !important;
    width: 240px;
    height: 48px;
    margin:auto;
    display:block;
    font-size: 20px;
.button-style2
    background-color: rgb(16, 172, 194) !important 
    border none
    font-family: 'Lato', sans-serif !important;

#button_one:hover
    color rgb(16, 172, 194)
#button_two:hover
    color black


