<div class="container-fluid text-center">
  <div class="row d-flex justify-content-center">
    <div class="col-6"> 
      <h1>Now go build your app.</h1>
      <p>Generate JavaScript for your <a href="#" style="color: rgb(177, 238, 247)"> new Sails app </a>, read the 
      <a href="#" style="color: rgb(177, 238, 247)">documentation </a>, and start coding.</p>     
      <form class="form-inline d-flex justify-content-center">
        <div class="row">
            <div class="form-group">
              <a id="button_one" href="#" class="btn btn-primary btn-lg active button-style text-center" role="button" aria-pressed="true">Install Sails</a>
              <a id="button_two" href="#" class="btn btn-primary btn-lg text-center button-style2" role="button" aria-pressed="true">Read the docs</a>
            </div>
        </div>
      </form>                             
  </div>
</div>
       