.nowgo
    background-color #10ACC2
    color #ffffff
    padding 100px 15px 100px 15px
    .text
        margin-bottom 25px
        h2  
            font-size 30px
            margin-bottom 15px
    button.btn-dark
        width 230px
        background-color #001C20
        color #ffffff
    button.btn-dark:hover
        color #10ACC2
    button.btn-light
        width 230px
        background-color #10ACC2
        color #ffffff
        border none 
    button.btn-light:hover
        color #001C20