<div class="nowgo container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="text col-md-4 text-center">
      <h2>Now go build your app.</h2>
      <p>Generate JavaScript for your <b>new Sails app</b>, read the <b>documentation</b>, and start coding.</p>
    </div>
    <div class="col-12 text-center">
      <button type="button" class="btn btn-dark btn-lg">Install Sails</button>
      <button type="button" class="btn btn-light btn-lg">Read the docs</button>
    </div>
  </div>
</div>