div.preview
    padding-right 12%
    padding-left 12%
    padding-top 5%
    .row.header
        padding-bottom 2%
        .col-4 .btn-primary
            border solid 
            border-width 1px
            border-color #187BAD
            background-color #288DC1
            color #ffffff
            border-radius 0px
            font-size 13px