<div class=" header container-fluid ">
  <div class="row hder">
    <div class="col-12 ">
      <h2 class="titulo text-center">The web framework of your dreams</h2>
    </div>
  </div>
  <div class="row d-flex  flex-column align-items-center justify-content-center hder">
    <div class="col-12 ">
      <p class="subtitle text-center">Built by developers by a giant squid</p>
    </div>
    <div class="col-12 hder">
        <button type="button" class="btn  ml-auto mr-auto confgbtn" >Get started</button>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center ml-auto mr-auto ">
    <div >
      <img class=" img" src="http://sailsjs.com/images/hero_squid.png">
    </div>
  </div>
  
</div>
