<div class="container-fluid footer">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-4 colizq">
        <h4>Built with Love</h4>
        <p>The Sails framework is maintained by a web & mobile studio in Austin, TX, with the help of our contributors. We created Sails in 2012 to assist us on Node.js projects. Naturally we open-sourced it. We hope it makes your life a little bit easier!</p>
        </div>
        <div class="col-5 columnas">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4">
                <h5>Sails</h5>
                    <ul>
                        <li>
                            <a href="/whats-that">What is Sails?</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://treeline.io">Treeline IDE</a>                     </li>
                        <li>
                            <a href="/documentation/contributing">Contribute</a>
                        </li>
                        <li>
                            <a href="/resources">Logos/artwork</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                        <h5>About</h5>
                        <ul>
                            <li>
                                <a href="/whats-that">The Sails Company</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://treeline.io">Security</a>
                            </li>
                            <li>
                                <a href="/documentation/contributing">News</a>
                            </li>
                            <li>
                                <a href="/resources">Legal</a>
                            </li>
                        </ul>        
                </div>
                <div class="col-4">
                        <h5>Help</h5>
                        <ul>
                            <li>
                                <a href="/whats-that">Get Started</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://treeline.io">Documentation</a>
                            </li>
                            <li>
                                <a href="/documentation/contributing">Enterprise</a>
                            </li>
                            <li>
                                <a href="/resources">Hire Us</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>