.footer 
    height: 200px
    background-color: #001C20
    color: #FFF

h4
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-family: proxima-nova-soft,Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;

h5
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-family: proxima-nova-soft,Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;

.colizq p
    color: #FFF;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;

.columnas
    padding-top: 15px

ul
    list-style-type: none
    padding-left:0

ul li
    list-style-position:inside     

ul li a
    color: white
    font-weight: 300
    text-decoration: none
    font-size: 15px
    font-family: 'Lato',Helvetica,Arial,sans-serif