.header
  height 200px
  width 100%
  padding 0px
  margin 0px
  .row
    height 200px
    width 100%
    margin 0px
    p
      color red
      font-size 60px
      font-weight 800

.title
  height 100px
  width 100%
  padding 0px
  margin 0px
  background-color lightgreen
  .row
    height 100px
    width 100%
    margin 0px
    p
      color blue
      font-size 40px
      font-weight 600

.projects
  width 100%
  padding 0px
  margin 0px
  .row
    background-color lightyellow
    width 100%
    margin 0px
    .col-4
      padding 5px
