@import url('https://fonts.googleapis.com/css?family=Lato');

.footer {
    height: 200px;
    background-color: black;
    padding-top: 75px;
    position: relative;
    color: white;
}

.prefooter {
    height: 300px;
    background-color: black;
}

.footer .row {
    height: 200px;
}

.footer .row .col-6 i {
    color: white;
}

.navbar-style {
    background-color: black;
    height:50px; 
}

.navbarbutton-style {
    width: 135px;
    height:30px;
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;    
}

.firstpart {
    background-color: rgb(16, 172, 194);
    width: auto;
    height: 536.875px;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.thirdpart{
    width: auto;
    height: 536.875px; 
}


.text-style-h1 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;
}

.text-style-h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(177, 238, 247);
    text-align: center;
    font-size: 18px;
}

.text-style-h10 {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    color: rgb(75, 75, 75);
    text-align: center;
}
.text-style-h11 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(75, 75, 75);
    text-align: center;    

}
.text-style-h13 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
}


.button-style {
    text-align: center !important;
    background-color: black !important;
    font-family: 'Lato', sans-serif !important;
    width: 240px;
    height: 48px;
    margin:auto;
    display:block;
    font-size: 20px;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 24px;
    color: rgb(75, 75, 75);

}

p {
    color: rgb(61, 58, 58);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 100px; 
    margin-right: 200px;
}

.subimg {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 19px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    margin: auto;
}

.img-responsive {
    margin: auto;
}

.pimg {
    color: rgb(61, 58, 58);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}
.container-fluid .files {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}