<div class="logoswebs">
    <hr width="80%">
    <!--carrousel de logos -->
    <div >
    <h3 class=" d-flex align-items-center justify-content-center">Who's using Sails?</h3>
    <p class=" d-flex align-items-center justify-content-center">Companies large and small have built all kinds of cool things on Sails:</p>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide d-flex align-items-center justify-content-center" data-ride="carousel">
            <div class="carousel-inner row  d-flex align-items-center justify-content-center">
            <div class="carousel-item active row col-10 ">
                <div class="col-12 ">
                    <ul>
                        <li><img class="d-block imglgo" src="http://sailsjs.com/images/homepage_logo_pge.png" alt="First slide"></li>
                        <li><img class="d-block imglgo " src="http://sailsjs.com/images/homepage_logo_ae.png" alt="First slide"></li>
                        <li><img class="d-block imglgo2" src="http://sailsjs.com/images/homepage_logo_postman.png"></li>
                        <li><img class="d-block imglgo2 " src="http://sailsjs.com/images/homepage_logo_leidos.png" alt="First slide"></li>
                    </ul>
                </div>
                <div class="col-12">
                        <ul>
                                <li><img class="d-block imglgo3  paris" src="http://sailsjs.com/images/homepage_logo_paris.png" alt="First slide"></li>
                                <li><img class="d-block imglgo3 " src="http://sailsjs.com/images/homepage_logo_microsoft.png" alt="First slide"></li>
                                <li><img class="d-block imglgo4" src="http://sailsjs.com/images/homepage_logo_apigee.png"></li>
                                <li><img class="d-block imglgo4 " src="http://sailsjs.com/images/homepage_logo_broadinstitute.png" alt="First slide"></li>
                            </ul>
                    </div>
                    <div class="col-12">
                            <ul>
                                    <li><img class="d-block imglgo " src="http://sailsjs.com/images/homepage_logo_18f.png" alt="First slide"></li>
                                    <li><img class="d-block imglgol3 " src="http://sailsjs.com/images/homepage_logo_devmountain.png" alt="First slide"></li>
                                    <li><img class="d-block imglgo4" src="http://sailsjs.com/images/homepage_logo_verizon.png"></li>
                                    <li><img class="d-block imglgo2 " src="http://sailsjs.com/images/homepage_logo_groupahead.png" alt="First slide"></li>
                                </ul>
                        </div>
            </div>
            <div class="carousel-item rowalign-items-center justify-content-center ">
                    <div class="col-12 ">
                        <ul >
                            <li><img class="d-block imglgo2" src="http://sailsjs.com/images/homepage_logo_par.png" alt="Second slide"></li>
                            <li><img class="d-block imglgol-2" src="http://sailsjs.com/images/homepage_logo_jetblue.png" alt="Second slide"></li>
                            <li><img class="d-block imglgo3" src="http://sailsjs.com/images/homepage_logo_anypresence.png" alt="Second slide"></li>
                            <li><img class="d-block imglgo2" src="http://sailsjs.com/images/homepage_logo_sungard.png" alt="Second slide"></li>
                        </ul>
                    </div>
                    <div>
                            <ul>
                                <li><img class="d-block imglgo-2 elipce" src="http://sailsjs.com/images/homepage_logo_elliptic.png" alt="Second slide"></li>
                                <li><img class="d-block imglgol2 lion" src="http://sailsjs.com/images/homepage_logo_lions.png" alt="Second slide"></li>
                                <li><img class="d-block imglgo4 scout" src="http://sailsjs.com/images/homepage_logo_scoutlit.png" alt="Second slide"></li>
                                <li><img class="d-block imglgo-4 gladys" src="http://sailsjs.com/images/homepage_logo_gladys.png" alt="Second slide"></li>
                            </ul>
                    </div>
                    <div>
                            <ul>
                                <li><img class="d-block imglgo-2 elipce" src="http://sailsjs.com/images/homepage_logo_beyondsoft.png" alt="Second slide"></li>
                                <li><img class="d-block imglgol2 lion" src="http://sailsjs.com/images/homepage_logo_epicure.png" alt="Second slide"></li>
                                <li><img class="d-block imglgo4 scout" src="http://sailsjs.com/images/homepage_logo_fidelity.png" alt="Second slide"></li>
                                <li><img class="d-block imglgo-4 fidely" src="http://sailsjs.com/images/homepage_logo_waf.png" alt="Second slide"></li>
                            </ul>
                    </div>
            </div>

            </div>
        </div>
    <!-- install-->
    <div >
    <div class="sctninstall d-flex align-items-center justify-content-center ">
        <div class="sctninstall  ">
        <h2>Now go build your app.</h2>
        <p ALIGN="center">Generate JavaScript for your new Sails app, read the <br>
            documentation, and start coding.</p>
            <div class=" btn d-flex align-items-center justify-content-center ">
                <button type="button" class="  ml-auto mr-auto confgbtn  " >Install Sails</button>
                <button type="button" class="  ml-auto mr-auto confgbtn2 " >Read the docs</button>

            </div>
        </div>
        
    </div>
</div>