
@media (min-width: 320px) {  }

.logoswebs
   background-color: 100%
   width: 100%
   padding: 0px
   margin: 0px
  
  
  

h3
   color: #4B4B72
   margin: 25px
   padding: 70px 25px 0px 25px
  
   

//carrousel
.carousel
   width: 100%
   text-align: center
   margin: 0px 0px 80px 0px
  
  

   ul  
       padding: 0px 10px
       margin: 10px  10px 
       zindex-dropdown-backdrop:  990 !default
       .ul3
            margin: 0px 0px 0px 100px
            padding: 0px 100px 
            
       
    li 
            display: inline-block
            .imglgo
                width:78px
                display: inline
                margin:0px 60px
                cursor:pointer
                opacity: .5
            .imglgo:hover { opacity : 100; } 
            
            .imglgo2
                width:180px
                display: inline
                margin:0px  35px
                cursor:pointer
                padding: 5px 0px
                opacity: .5
            .imglgo2:hover { opacity : 100; } 
            .imglgo3
                width:210px
                display: inline
                margin:0px  35px
                padding: 5px 0px
                cursor:pointer
                opacity: .5
            .imglgo3:hover { opacity : 100; } 
            .paris
                margin: 0px 0px 0px 20px
            .imglgo4
                width:135px
                display: inline
                margin:0px  35px
                cursor:pointer
                padding: 5px 0px
                opacity: .5
            .imglgo4:hover { opacity : 100; }
            .imglgol3
                width:250px
                display: inline
                margin:0px  35px
                padding: 5px 0px
                cursor:pointer
                opacity: .5
            .imglgol3:hover { opacity : 100; }
            .imglgol-2
                width:100px
                display: inline
                margin:0px  35px
                padding: 5px 0px
                cursor:pointer
                opacity: .5
            .imglgol-2:hover { opacity : 100; }
                
            .lion
               margin: 12px 20px 0px 20
               cursor:pointer
               opacity: .5
            .lion:hover { opacity : 100; } 
            .elipce
               margin: 12px 60px 0px 60px
               padding: 0px
               cursor:pointer
               opacity: .5
            .elipce:hover { opacity : 100; } 
            .slideseconds
                 margin: 12px 60px 0px 62px
                 cursor:pointer
            .scout
                 margin: 12px 60px 0px 60px 
                 cursor:pointer
            .gladys
                 margin: 12px 30px 0px 60px
                 cursor:pointer
                 opacity: .5
            .gladys:hover { opacity : 100; } 


            //3era columna 
            .fidely
                 margin: 0px
                 cursor:pointer
                 opacity: .5
            .fidely:hover { opacity : 100; } 


//install
.sctninstall
     background-color: #10ACC2
     width: 100%
     height: 350px
     color: white
   
     h2 
         text-align: center
         padding: 60px 0px 0px 
         p 
            text-align: center
    .btn 
        margin: 0px 30% 0px 30%
        display: inline-block
        
        .confgbtn
            padding:12px 25px 
            background-color:#001C20
            color:white
            font-weight: 500
            font-size: 20px
            width: 220px
            display: inline
            margin: 0px 0px 0px 200px
            border-radius: 7px
            border: 0px
         
        
        .confgbtn:hover { color: #10ACC2; } 
        .confgbtn2
            padding:10px 0px
            background-color:#10ACC2
            color:white
            font-weight: 500
            font-size: 20px
            width: 200px 10px 0px 200px
            display: inline
            margin: 0px 
            border: 0px
         
            
        .confgbtn2:hover { color: black; } 
                 