div
  padding-top: 10px
    

.footer
    background-color black
    padding-left 140px
    color white
    padding-bottom: 10px
    font-family: Lato
    
    .logo_sails
      width 120px
      height auto

    i 
      color: white  
      margin: 13px
    i:hover 
      color:#10ACC2



