<div>
  <div class="row">
    <div class="col-md-4">
        <h3>Suiza</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect fill="#D52B1E" width="150" height="100"/>
          <rect fill="#fff" height="16" width="50" x="50" y="42"/>
          <rect fill="#fff" height="50" width="16" x="67" y="25"/>
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Suecia</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect width="150" height="100" fill="#006aa7"/>
          <rect width="20" height="100" x="50" fill="#fecc00"/>
          <rect width="150" height="20" y="40" fill="#fecc00"/>
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Jamaica</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect width="150" height="100" fill="#009B3A"/>
          <path stroke="#FED100" stroke-width="8" d="M0 0 L75 47 L0 100"/>
          <path stroke="#FED100" stroke-width="8" d="M150 0 L75 47 L150 100"/>
        </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <h3>Japón</h3>
        <svg width="150" height="100">
          <rect fill="#fff" width="150" height="100" stroke="#b7b7b7" stroke-width="1" />
          <circle cx="75" cy="50" r="30" fill="#BC002D" />
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Italia</h3>
        <svg xmlns="http://www.w3.org/2000/svg"
        width="150" height="100" viewBox="0 0 3 2">
          <rect width="1" height="2" x="0" fill="#008d46" />
          <rect width="1" height="2" x="1" fill="#ffffff" />
          <rect width="1" height="2" x="2" fill="#d2232c" />
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Noruega</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect fill="#EF2B2D" width="150" height="100"/>
          <rect width="20" height="100" x="40" fill="#fff"/>
          <rect width="150" height="20" y="40" fill="#fff"/>
          <rect width="10" height="100" x="45" fill="#002868"/>
          <rect width="150" height="10" y="45" fill="#002868"/>
        </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <h3>Palestina</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect width="150" height="33.33" fill="#000"/>
          <rect width="150" height="33.33" y="33.33" fill="#fff"/>
          <rect width="150" height="33.33" y="66.66" fill="#007A3D" />
          <path fill="#CE1126" d="M0 0 L47 47 L0 100"/>
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Botswana</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect width="150" height="100" fill="#75AADB"/>
          <rect width="150" height="25" y="37.5" fill="#fff"/>
          <rect width="150" height="18" y="41" fill="#000" />
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Tonga</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="100">
          <rect fill="#C10000" width="150" height="100"/>
          <rect fill="#fff" height="50" width="80" />
          <rect fill="#C10000" height="12" width="30" x="25" y="19" />
          <rect fill="#C10000" height="30" width="12" x="34" y="10" />
        </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <h3>Marruecos</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect fill="#C1272D" width="150" height="100"/>
          <path stroke="#006233" stroke-width="3" fill="none" d="M60,50 h30 l-24.27,17.63 9.27,-28.53 9.27,28.53 z" />
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Panamá</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect fill="#fff" stroke="#ddd" stroke-width="1" width="150" height="100"/>
          <rect fill="#D21034" height="50" width="75" x="75" />
          <rect fill="#005293" height="50" width="75" y="50" />
          <path fill="#005293" d="M22.5,25 h30 l-24.27,17.63 9.27,-28.53 9.27,28.53 z" />
          <path fill="#D21034" d="M97.5,68 h30 l-24.27,17.63 9.27,-28.53 9.27,28.53 z" />
        </svg>
    </div>
    <div class="col-md-4">
        <h3>Vietnam</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
            <rect fill="#DA251D" width="150" height="100"/>
            <path fill="#FFFF00" d="M60,50 h33 l-26.697,19.393 10.197,-31.383 10.197,31.383 z" />
        </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-auto" style="margin:0 auto;">
        <h3>Cuba</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100">
          <rect width="180" height="20" fill="#002A8F"/>
          <rect width="180" height="20" y="20" fill="#fff"/>
          <rect width="180" height="20" y="40" fill="#002A8F" />
          <rect width="180" height="20" y="60" fill="#fff"/>
          <rect width="180" height="20" y="80" fill="#002A8F" />
          <path fill="#CF142B" d="M0 0 L65 50 L0 100"/>
          <path fill="#FFF" d="M7.5,45 h30 l-24.27,17.63 9.27,-28.53 9.27,28.53 z" />
        </svg>
    </div>
  </div>
</div>