.header
    background-color #10ACC2
    padding-top 75px
    padding-bottom 75px
    div.row.text
        h1  
            color #ffffff
            font-size 33px
        p  
            color #ADECF6
            font-size 20px
            font-weight 400
            
    div.row.button button
        background-color #001C20
        color #FFFFFF
        border-radius 4px
        font-weight 500
        font-size 20px
        width 240px
        height 48px

    div.row.image
        margin-top 70px

