.header
    height 200px
    padding 0px
    margin 0px
    width 100%
    .row 
        height 200px
        width 100%
        margin 0px
        p
            color blue
            font-size 60px
            font-weight 800

.title  
    height 100px
    padding 0px
    margin 0px
    width 100%
    .row
        height 100px
        width 100%
        margin 0px
        p
            color: brown
            font-size 40px
            font-weight 600


.projects
    height 100px
    padding 0px
    margin 0px
    width 100%
    .row
        background-color white
        width 100%
        margin 0px
        .col-4
            padding 0px

