<nav class="nav navbar d-flex  ">
    <div class="vbtnsa row">
      <div class="col "> 
          <img class="img" src="http://www.sailsjs.com/images/logo_sails.png ">
      </div>
      <div class="dropdown">
          <button class="vbtns  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            v0.12
          </button>
          <div class="dropdown-menu " style="border-radius: 10%" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">version</a>
            <a class="dropdown-item" href="#">v1.0</a>
            <a class="dropdown-item" href="#">v0.12</a>
          </div>
        </div>
    </div>
      <ul class="formtex">
        <li>Get started</li>
        <a href="http://sailsjs.com/support" class="decoration"><li>Support</li></a>
        <li> 
            <div class="btn-group btn decoration">
                <button type="button" class="btns  dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a >  Documentation
                      </a>
                </button>
                <div class="dropdown-menu ">
                  <a class="dropdown-item " href="#">Reference</a>
                  <a class="dropdown-item" href="#">Concepts</a>
                  <a class="dropdown-item" href="#">App structure</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">upgrading</a>
                  <a class="dropdown-item" href="#">Contribuid guide</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Tuturials</a>
                  <a class="dropdown-item" href="#">books</a>
                </div>
              </div>
            
        </li>
        <li>Studio</li>
      </ul>
</nav>
