
@media (min-width: 300px) {}



.nav
  background-color: #001C20
  width: 100%
  padding: 0px
  margin: 0px
  position: fixed
  z-index: 100
  
  
  
  .vbtnsa
    
    padding: 0px
    margin: 0px
   
    
    .img
      width: 120px
      margin: 5px 0px 0px 20px
      padding: 5px 0px 0px 5px
      display: inline
    .vbtns
      margin: 20px 10px 8px 0px
      padding: 7px 80px 7px 8px
      background-color: #1A3336
      border: 0px
      border-radius: 5px
      font-size: 12px
      color: white
      display: inline
   
  .formtex
    color: white
    display: inline-block
    padding: 0px  
    margin: 0px 0px 0px 20px
    
  .btn
     color: white
     background: #001C20
     outline: none
     padding: 6px 80px 6px 12px
     margin:0px 0px 0px 0px
     font-size: 12px
   

  .btns
      margin: 0px
      padding: 0px 
      font-weight: 500
      color: white;
      outline: none
      -webkit-border-radius: initial;
      -moz-border-radius: initial;
      border-radius: 0px;
      border-style: initial;
      border-width: 0px;
      border-color: #001C20;
      background-color: initial;
      font-size: 16px
      
      
  .btns:hover { color: #10ACC2; } 
  .decoration
     text-decoration:none
     color:white
     font-weight: 500
     hover-color: #1E90FF
     padding: 0px
     margin: 0px
     
  .decoration:hover { color: #10ACC2; } 
  li
      display: inline
      margin:20px 10px 15px 0px
      padding: 15px 5px  0px 0px
      font-size: 16px
      
      .icondir
          color: white
          margin:0px
          border: 0px
          margin: 0px
    