<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SVG!
  </h1>

  <svg xmlns="http://www.w3.org/2000/svg"
    width="150" height="100" viewBox="0 0 3 2">
    <rect width="1" height="2" x="0" fill="#008d46" />
    <rect width="1" height="2" x="1" fill="#ffffff" />
    <rect width="1" height="2" x="2" fill="#d2232c" />
  </svg>

  <svg width="150" height="100">
    <circle cx="75" cy="50" r="45" stroke="#000000" stroke-width="2" fill="#BC002D" />
  </svg>

  <svg width="150" height="100">
    <rect x="0" y="0" width="150" height="100" stroke="#FF0000" fill="#FFFFFF" />
  </svg>

  <svg width="300" height="200">
    <polygon points="100,10 40,198 190,78 10,78 160,198"
    style="fill:#FF0000;stroke:purple;stroke-width:2;fill-rule:evenodd;" />
  </svg>
</div>


<app-paola></app-paola>