<div class="feature feature-light">
  <div class="feature-decoration feature-decoration-drop"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="feature-heading feature-heading-center">
          Code Faster.
        </h2>
        <p class="feature-text">
          Tired of having to run your code to find bugs? Flow identifies problems as you code. Stop wasting your time guessing and checking.
        </p>
      </div>
      <div class="col-lg-5">
        <img class="img-fluid rounded" width="890" height="564" src="/assets/imagenes/featurette-faster-56e57b5eb50445d2903590e1553797e4637fcc0aa779b09bc9c5c8a8c08a1645.gif" alt="">
      </div>
    </div>
  </div>
</div>
<div class="feature feature-gray">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 pull-lg-7">
            <img class="img-fluid rounded" width="890" height="564" src="/assets/imagenes/featurette-smarter-8c14aaaa6e4b2d51de0c316353a5153fa1a48926fdba05f895772d3ca611ab7b.gif" alt="">
          </div>
      <div class="col-lg-7 push-lg-5">
        <h2 class="feature-heading feature-heading-center">
          Code Smarter.
        </h2>
        <p class="feature-text">
          It's hard to build smart tools for dynamic languages like JavaScript. Flow understands your code and makes its knowledge available, enabling other smart tools to be built on top of Flow.

        </p>
      </div>
    </div>
  </div>
</div>

<div class="feature feature-dark">
  <div class="feature-decoration feature-decoration-drop"></div>
  <div class="feature-decoration feature-decoration-rise"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="feature-heading feature-heading-center">
          Code Confidently.
        </h2>
        <p class="feature-text">
          Making major changes to large codebases can be scary. Flow helps you refactor safely, so you can focus on the changes you want to make, and stop worrying about what you might break.
        </p>
      </div>
      <div class="col-lg-5">
        <img class="img-fluid rounded" width="890" height="564" src="/assets/imagenes/featurette-confidently-8fef503f144332c54f02dbf38b49a8693fdd614bb4c9f7296824f1f44e8475d5.gif" alt="">
      </div>
    </div>
  </div>
</div>