nav 
    background-color #001C20
    padding 1% 4% 1% 4%
    a img  
        height 40px
        width auto

    div.collapse ul li a 
            color #ffffff
            font-weight 500
            margin-left 25px
