<div class="container-fluid buildyourapp-background">
  <div class="row d-flex align-items-center justify-content-center textContainer">
    <div class="col-6">
    <h3 class="buildyourapp-title">Now go build your app</h3>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-4">  
      <p class="buildyourapp-text">Generate JavaScript for your new Sails app, read the documentation, and start coding.</p>
    </div>
  </div>      
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-6 buildApp">
            <button type="button" class="btn btn-install">Install Sails</button>
            <button type="button" class="btn btn-read">Read the docs</button>
    </div>
  </div>
</div>