.buildyourapp-title {
    color: #FFF;
    font-family: 'proxima-nova-soft',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 10px;
    text-align: center;
}

.buildyourapp-text {
    color: #FFF;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.buildyourapp-background {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #10ACC2;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 55px;
    align-content: center;
    margin-bottom: 0px;
}

.buildApp{
  margin: 20px 155px 12px  155px;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

.btn-install
    color: #FFF;
    background: #001C20;
    display: inline-block;
    margin-right: 5px;

.btn-read
    color: #FFF;
    background: #10ACC2;
    display: inline-block;
    margin-right: 5px;