@import url(http://weloveiconfonts.com/api/?family=openwebicons);

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}
#search{
  background-color: #25799f;
  padding: 30px 10px 20px 10px;
}

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #25799f; 
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #2188b6; 
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; 
      color: #5a5a5a;

  }
  .bg-4 { 
      background-color: #2188b6; 
      color: #fff;
  }
  .bg-5 { 
      background-color: #ffffff; 
      color: #5a5a5a;
  }

  .bg-6 { 
      background-color: #ffffff; 
      color: #5a5a5a;
  }
  
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

