<div class="container about">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8">
    <h2 class="title-about">Sails makes it easy to build custom, enterprise-grade Node.js apps.</h2>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8">
            <p class="texto-about">Build practical, production-ready Node.js apps in a matter of weeks, not months.<br> Sails is the most popular MVC framework for Node.js, designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements
        of modern apps: data-driven APIs with a scalable, service-oriented architecture.</p>
        </div>
    </div>
</div>