.texto-about 
    color: #757575;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    max-width: 825px;
    margin-left: auto;
    margin-right: auto;

.about 
    margin-bottom: 50px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    position: relative;
    z-index: 10;
    text-align: center;
    margin-left:152px;
    margin-right :152px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;

.title-about
    color: #4b4b4b;
    font-family: proxima-nova-soft,Helvetica,Arial,sans-serif;
    font-size: 24px
    font-weight: 300
    margin-bottom: 20px