.container-fluid
  background-color lightgreen
  .col1
    background-color lightblue
    height 30px
  .col2
    background-color yellow
    height 30px
  .col3
    background-color orange
    height 30px

.footer
  background-color: #001C20
  .row
    .col-lg-6
      .sails
        height: auto
        width: 120px
      .company
        color: white
        font-size: 9px
      .framework
        color white
        font-size: 9px
      i
        color: white
        height 10px
        width 10px
