.section-table
    width 100%
    height auto

.table-content
    width 100%
    height 630px
    margin: 0 auto
    overflow: scroll
    font-size: 12px;

.table
    width 100%

.main-content
    width 100%
    height 690px