.nav-bar {
    background: #001C20;
}

.navtext {
    color: #FFFFFF;
}
.btn-dark{
    background: #001C20;
    color: #FFFFFF;
    width: 240px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-dark:hover {
    color:#10ACC2;
}
.btn-light{
    background: #10ACC2;
    color: #FFFFFF;
    width: 240px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-light:hover {
    color:#001C20;
}

.logo {
    height: 40px;
    width: auto;
}

.h1 {
    font-size: 34px;
}

.h2 {
    font-size: 30px;
    margin: 8px;
}

.h3 {
    font-size: 22px;
}

.h4 {
    font-size: 20px;
    text-align: left;
    padding-top: 30px;
    color:#4B4B4B;
}

.p-body {
    font-size: 15px;
    padding: 7px;
    margin-right: 5%;
    margin-left: 5%;
}

.p-feature {
    font-size: 15px;
    text-align: left;
    padding-right: 25%;
    color: #4B4B4B;
}
.p-important {
    color: #B1EEEC;
    font-style: bold;
    padding: 7px;
    margin-right: 5%;
    margin-left: 5%;
}
.feature-icon {
    height: 87px;
    width: auto;
}
.header-nowgo{
    background: #10ACC2;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 60px;  

}
.header{
    background: #10ACC2;
    color: #FFFFFF;
    text-align: center;
    margin-top: 60px;
    height: 500px;
    padding-top: 70px;
}

.banner {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15%;
    padding-right: 15% ;
    padding-top: 5%;
    padding-bottom: 5%;
}
.down-border {
    border-bottom-color: #EBEBEB;
}
.banner-nowgo {
    padding-left: 5%;
    padding-right: 5% ;
    padding-top: 7%;
    padding-bottom: 7%;
}

.body-style {
    color: #4B4B4B;
    width: 85%;
    text-align: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.body-container {
    background: #FFFFFF;
    align-self: center;
}

.logo-carousel{
    background: #FFFFFF;
    height: 350px;
    width: auto;
    margin: 5%;
    padding: 5%;
}
    
.footer {
    height: 300px;
    background-color: #001C20;
    align-content: right;
    padding-left: 40px;
    padding-top: 40px;
    width: 100%;
    padding-block-end: 60px;
    padding-block-start: 60px;
}

.footer .col-md {
    height: 250px;
}

.footer .row {
    height: 300px;
}

.fa {
    align-items: right;
    padding-top: 60px;
    padding-left: 30px;
    color: white;
}

.custom-select {
    margin-left: 10px;
    margin-top: 7px;
    height: 30px;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    border-color: #10ACC2;
    background-color: #ebebeb;
    width: 120px;
}
.about {
    height: 300px;
    background-color: #001C20; 
    padding: 20 20 20 25px; 
 }

.about p {
    color: white !important;
 }

.about h3 {
    color:white;
}
.img-bottom {
    height: 15%;
    width: 19%;
}
.logo-bottom p {
    color: white;
    padding-bottom: 0%;
}

.link {
    color: #10ACC2;
    height: 25%; 
}
.d-block{
    height: auto;
    width: auto;
    box-sizing: border-box;
    border: none;
    color: rgb(216, 216, 216);
    display: block;
    box-sizing: border-box;
    padding: 0 10 40 10px;
}
.logo-carousel {
padding-bottom: 100px;
margin-top: 0px;
}
.users {
    margin-bottom: 0px;
    margin-top: 0px;
}

.features {
    margin-bottom: 0px;
    margin-top: 0px; 
}
.banner-nowgo {
    margin-bottom: 0px;
    margin-top: 60px;  
}
.easy {
    margin-bottom: 0;
    margin-top: 0; 
    margin-left: 35px;
}