<div class="container-fluid d-flex contracts-section">
    <div class="container section-contracts justify-content-center align-items-center">
        <div class="row">
          <div class="col-6">
            
              <h1>Contracts</h1>
  
          </div>
          <div class="col-6">
            <div class="container d-flex justify-content-center align-items-center">
              <div class="btn-group">
                  <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                      </div>
                    </div>
                  <button type="button" class="btn btn-primary">Samsung</button>
                  <button type="button" class="btn btn-primary">Sony</button>
              </div> 
            </div>
          </div>
  
        </div>
        <div class="row">
          <div class="col-6">
            <p>Contracts and modifications awarded by the City of Chicago since 1993. This data is currently maintained in the City’s Financial Management and Purchasing System (FMPS), which is used throughout the City for contract management and payment.
                Legacy System Records. 
            </p>
          </div>
          <div class="col-6">
            <p>Updated August 31, 2017<br>
                Data Provided by City of Chicago</p>
          </div>
        </div>
  
    </div>
  
  </div>
  