.contracts-section
    width 100%
    height auto
    margin-top 3%

    @media screen and (max-width: 320px)
        width 320px
        height 580px 

.section-contracts
    width 70%
    height auto

.contract-text
    display inline-block
    line-height 24px
    max-width 100%

    @media screen and (max-width: 320px)
        width: 320px