<div class="container-fluid header">
  <div class="row text d-flex align-items-center justify-content-center text-center">
    <div class="col-12">
      <h1>The web framework of your dreams.</h1>
    </div>
    <div class="col-12">
      <p>Built for developers by a giant squid.</p>
    </div>
  </div>
  <div class="row button d-flex align-items-center justify-content-center text-center">
    <div class="col-2">
      <button type="button" class="btn btn-block">Get Started</button>
    </div>
  </div>
  <div class="row image d-flex align-items-center justify-content-center text-center">      
    <div class="col-12">
      <img class="img-fluid" src="http://sailsjs.com/images/hero_squid.png">
    </div>
  </div>
</div>