.header
    background-color #10ACC2
    padding-top 70px
    padding-bottom 70px
    div.row.text
        h1  
            color #ffffff
            font-size 27px
        p  
            color #ADECF6
            font-size 18px
            font-weight 500
            
    div.row.button button
        background-color #001C20
        color #FFFFFF
        border-radius 4px

    div.row.image
        padding-top 30px

