<div class="container-fluid footer">
    <div class="container"> 
      <div class="row d-flex text-center justify-content-center align-items-center">
        <div class="logo col-12">
          <img alt="logo" src="https://data.cityofchicago.org/api/assets/FF6A8E2F-9E44-4A23-AB53-60E5E4D14E7A?city-seal-small.png">
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row  d-flex text-center justify-content-center align-items-center">
          <div class="links col-md-2 col-sm-6">
              <p>Terms of Use</p>
          </div>
          <div class="links col-md-2  col-sm-6">
              <p>Privacy Policy</p>
          </div>
          <div class="links col-md-2  col-sm-6">
              <p>Web Standards</p>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="links col-md-2  col-sm-6">
              <p>Site Feedback</p>
          </div>
          <div class="links col-md-2  col-sm-6">
              <p>Catalog</p>
          </div>
          <div class="links col-md-2  col-sm-6">
              <p>API Documentation</p>
          </div>
         
        </div>
      </div>
      


      <div class="copyrigth col-12">
        <div class="row d-flex justify-content-center">
          <p>© 2017 City of Chicago</p>
            <div class="media">
              <i class="fa fa-github-alt fa-lg" aria-hidden="true"></i> 
              <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>  
              <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
            </div>
        </div>
      </div>

</div>
      