.container
    font-family: Lato, Oswald, Helvetica,Arial,sans-serif;

.container-fluid
    .col-4
        padding-left: 60px
        padding-right: 60px

i
    color: #2EB6C9

i:hover
    color: #898989
    
