@import url('https://fonts.googleapis.com/css?family=Lato')

.footer {
    height: 200px;
    background-color: black;
}

.footer .row {
    height: 200px;
}

.footer .row .col-6 i {
    color: white;
}
