<nav class="navbar fixed-top navbar-style">
    <a class="navbar-brand" href="#">
      <img src="http://sailsjs.com/images/logo_sails.png" width="130" height="40">
    </a>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Get started</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id= "dropStyle">Reference</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Concepts</a>
                <a class="dropdown-item" href="#" id= "dropStyle">App structure</a>
                <hr>
                <a class="dropdown-item" href="#" id= "dropStyle">Upgrading</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Contributing guide</a>
                <hr>
                <a class="dropdown-item" href="#" id= "dropStyle">Tutorials</a>
                <a class="dropdown-item" href="#" id= "dropStyle">Book</a>

              </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Studio</a>
        </li>
    </ul>
</nav>



