@import url('https://fonts.googleapis.com/css?family=Lato');

.navbar-style 
    background-color black;
    img 
        padding-left 30px


.navbarbutton-style 
    width 135px
    height 30px
    padding-top 10px
    padding-left 15px
    text-align left 
    font-family 'Lato', sans-serif 

.navbar .nav li
    a
        color white
        font-family 'Lato', sans-serif
        fontsize 1em
    a:hover
        color rgb(16, 172, 194)

#dropStyle
    color black !important
    font-family 'Lato', sans-serif
    font-size 1em
