<br>
<br>
<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 text-center">
      <img src="https://data.cityofchicago.org/api/assets/FF6A8E2F-9E44-4A23-AB53-60E5E4D14E7A?city-seal-small.png" width="100" height="100"> 
    </div>
  <div class="row d-flex align-items-center justify-content-center">
   <div class="col-2">
    <p>Terms of Use</p>
   </div>
   <div class="col-2">
    <p>Privacy Policy</p>
    </div>
    <div class="col-2">
     <p>Web Standards</p>
     </div>
    <div class="col-2">
     <p>Site Feedback</p>
    </div>
    <div class="col-2">
    <p>Data Catalog</p>
    </div>
    <div class="col-2">
    <p>API Documentation</p>
    </div>
  </div>
</div>
</div>
