<div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-6 text-center">
          <h3>Who's using Sails?</h3>
          <p>Companies large and small have built all kinds of cool things on Sails:</p>
      </div>
    </div>
  </div>
  <div class="container-fluid car1" id="carouselExampleSlidesOnly">
     <div class="row d-flex justify-content-center">
      <div class="col-3 d-flex justify-content-center">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="http://sailsjs.com/images/homepage_logo_par.png" alt="First slide">
                </div>
              <div class="carousel-item">
                <img class="d-block" src="http://sailsjs.com/images/homepage_logo_pge.png" alt="Second slide">
              </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
          <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="http://sailsjs.com/images/homepage_logo_ae.png" alt="First slide">
                    </div>
                  <div class="carousel-item">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_jetblue.png" alt="Second slide">
                  </div>
              </div>
            </div>      
      </div>
      <div class="col-3 d-flex justify-content-center">
          <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="http://sailsjs.com/images/homepage_logo_anypresence.png" alt="First slide">
                    </div>
                  <div class="carousel-item">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_postman.png" alt="Second slide">
                  </div>
              </div>
            </div>      
      </div>
      <div class="col-3 d-flex justify-content-center">
          <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="http://sailsjs.com/images/homepage_logo_leidos.png" alt="First slide">
                    </div>
                  <div class="carousel-item">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_sungard.png" alt="Second slide">
                  </div>
              </div>
            </div>      
  </div>    
      
  <div class="container-fluid car2" id="carouselExampleSlidesOnly">
      <div class="row">
        <div class="col-3 d-flex justify-content-center">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="http://sailsjs.com/images/homepage_logo_elliptic.png" alt="First slide">
                  </div>
                <div class="carousel-item">
                  <img class="d-block" src="http://sailsjs.com/images/homepage_logo_paris.png" alt="Second slide">
                </div>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_lions.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_microsoft.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_scoutlit.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_apigee.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_broadinstitute.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_gladys.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
      </div>
  </div>
  
  <div class="container-fluid car3" id="carouselExampleSlidesOnly">
      <div class="row">
        <div class="col-3 d-flex justify-content-center">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="http://sailsjs.com/images/homepage_logo_beyondsoft.png" alt="First slide">
                  </div>
                <div class="carousel-item">
                  <img class="d-block" src="http://sailsjs.com/images/homepage_logo_18f.png" alt="Second slide">
                </div>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_devmountain.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_epicure.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_verizon.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_fidelity.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="http://sailsjs.com/images/homepage_logo_groupahead.png" alt="First slide">
                      </div>
                    <div class="carousel-item">
                      <img class="d-block" src="http://sailsjs.com/images/homepage_logo_waf.png" alt="Second slide">
                    </div>
                </div>
              </div>      
        </div>
      </div>
  </div>