<div class="container-fluid gallery">
  <div class="row">
    <div class="col-md-12 justify-content-center align-items-center d-flex">
      <input (keyup)="onKey($event)" type="text" class="form-control col-md-6" placeholder="Search for..." aria-label="q" aria-describedby="q">
    </div>
  </div>
  <div class="container gif-content justify-content-center align-items-center d-flex">
    <div class="row">
      <div class="col-md-4 co-sm-12 justify-content-center align-items-center d-flex img-div " *ngFor="let gif of gifs.data">
        <app-gif [url]="gif.images.original.url"></app-gif>
      </div>
    </div>
  </div>
</div>