.intro-background {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #10ACC2;
    font-family: Lato, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: white;
    padding-bottom: 50px;
    align-content: center;
    margin-bottom: 20px;
}

.ul .li {
    color: white;
}

.texto-intro {
    color: white;
    font-size: 1em;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    align-content: center;
}

.btn-inicial {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: white;
    background: #001c20;
    border: none;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    display: block;
    width: 240px;
    margin: 20px auto 50px;
    align-content: center;
}

.calamar {
    background-color: #10ACC2;
    align-content: center;
}

.texto-about {
    color: #4b4b4b;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    align-content: center;
}

.about {
    margin-bottom: 50px;
}

.characteristics {
    color: #757575;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    height: 160px;
}

.features-link {
    font-family: Helvetica, Arial, sans-serif;
    color: #10ACC2;
    text-align: center;
}

.navtabs {
    margin-right: -15px;
    float: right;
}

.usingsailstitle {
    color: #4b4b4b;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 20px;
    align-content: center;
}

.usingsailstext {
    color: #757575;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
}

.carousel-fade {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.carousel-fade .active {
    opacity: 1;
}

.buildyourapp-title {
    color: white;
    font-size: 32px;
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    align-content: center;
}

.buildyourapp-text {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.buildyourapp-background {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #10ACC2;
    overflow-x: hidden;
    padding-bottom: 50px;
    align-content: center;
    margin-bottom: 20px;
}

.btn-install {
    color: white;
    background-color: #001c20;
}

.btn-read {
    color: white;
    background-color: #10ACC2;
}

-btns {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    align-content: center;
}