<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-sm-5 text-center">
      <h3>Patreon Sponsors</h3>
      <img class="img-fluid stdlib" src="https://vuejs.org/images/stdlib.png" alt="180px">
    </div>
  </div>
<div class="row d-flex justify-content-center">
  <div class="col-md-2 col-sm-1">
    <img class="logo1" src="https://vuejs.org/images/deepstream.png">
  </div>
  <div class="col-md-2 col-sm-1">
      <img class="logo2" src="https://vuejs.org/images/jsfiddle.png">
  </div>
  <div class="col-md-2 col-sm-1">
      <img class="logo3" src="https://vuejs.org/images/laravel.png">
  </div>
  <div class="col-md-2 col-sm-1">
      <img class="logo4" src="https://vuejs.org/images/chaitin.png">
  </div>
  <div class="col-md-2 col-sm-1">
      <img class="logo2" src="https://vuejs.org/images/htmlburger.png">
  </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-md-2 col-sm-1">
        <img class="logo2" src="https://vuejs.org/images/someline.png">
      </div>
      <div class="col-md-2 col-sm-1">
          <img class="logo2" src="https://vuejs.org/images/monterail.png">
      </div>
      <div class="col-md-2 col-sm-1">
          <img class="logo4" src="https://vuejs.org/images/2mhost.png">
      </div>
      <div class="col-md-2 col-sm-1">
          <img class="logo2" src="https://vuejs.org/images/vuejobs.svg">
      </div>
      <div class="col-md-2 col-sm-1">
          <img class="logo3" src="https://vuejs.org/images/tmvuejs2.png">
      </div>
    
      </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 col-sm-1">
      <img class="logo2" src="https://vuejs.org/images/component_io.png">
    </div>
    <div class="col-md-2 col-sm-1">
      <img class="logo4" src="https://vuejs.org/images/v2exer.png">
    </div>
    <div class="col-md-2 col-sm-1">
      <img class="logo5" src="https://vuejs.org/images/xfive.png">
    </div>
    </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 col-sm-1">
        <button type="button" class="btn btn-outline-success btn-lg">Become a Sponsor!</button>
    </div>
  </div>
 <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-sm-5 text-center">
        <h3>OpenCollective Sponsors</h3>
        <h3>Platinum</h3>
        <img class="img-fluid" src="https://opencollective.com/public/images/become_sponsor.svg">
        <h3>Gold</h3>
      </div>
    </div>
 <div class="row d-flex justify-content-center">
   <div class="col-md-4 col-sm-2">
     <img class="img-fluid p1" src="https://opencollective.com/vuejs/goldsponsor/0/avatar.svg">
     <img class="img-fluid p1" src="https://opencollective.com/public/images/become_sponsor.svg">
   </div>
 </div>
</div>

