<div class="conainer-fluid flags">
  <h1 class="text-center">
        Flags
  </h1>
  <div class="row d-flex justify-content-center align-items-center text-center">
    <div class="col-md-4 col-sm-12" id="suiza">
      <h2>Suiza</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="suecia">
      <h2>Suecia</h2>        
    </div>
    <div class="col-md-4 col-sm-12" id="jamaica">
      <h2>Jamaica</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="noruega">
      <h2>Noruega</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="botswana">
      <h2>Botswana</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="palestina">
      <h2>Palestina</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="tonga">
      <h2>Tonga</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="marruecos">
      <h2>Marruecos</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="panama">
      <h2>Panamá</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="vietnam">
      <h2>Vietnam</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="cuba">
      <h2>Cuba</h2>
    </div>
    <div class="col-md-4 col-sm-12" id="italia">
      <h2>Italia</h2>
    </div>
  </div>
</div>
