<footer class="bg-faded mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5></h5>Contact me</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">  Made by Nelly <3 </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2017</div>
        </div>
    </div>
</footer>
