.footer
   background-color: #001C20
   width: 100%
   color: white
   margin: 0px
   padding: 0px
   .build
      padding: 5% 9% 0px 14%
      font-weight: lighter
      font-size: 13px
      
      h4  
          font-size: 20px
          p  
             font-size: 4px
             font-family: Lato,Helvetica,Arial,sans-serif
             font-weight: lighter
    
    .help
        padding: 5% 7% 0% 0%
        font-weight: lighter
        
        .sctinsails
            padding: 0px
            ul  
                padding: 0px 0px 0px 0px 
                margin: 0px
                font-weight: lighter
                font-size: 15px
                li 
                    list-style: none
                    font-size: 15px
                    padding: 0px 0px 10% 0px 
    .company
        padding: 2% 0px 0px 14%
        img 
            width: 120px
        p  
            font-size: 12px
            margin: 0px
            .license
                 font-size: 1px
    .logossocial
         color: white
         padding: 5% 0px 0px 0%
         ul 
            padding: 0px
            li 
                 display: inline
                 padding: 3%
                 