<div class="footer container-fluid ">
    <div class="container-fluid row">
        <div class="build left-column top col-6 ">
            <h5>Built with Love</h5>
            <p  ALIGN="left">The Sails framework is maintained by a web & mobile studio  in Austin, TX, with the help of our contributors. We created Sails in 2012 to assist us on Node.js projects. Naturally we  open-sourced it. We hope it makes your life a little bit easier!</p>
        </div>
        <div class="help right-column top col-5  row">
            <div class="col-4 sctinsails">
                <h5>Sails</h5>
                <ul>
                    <li>What is Sails?</li>
                    <li>Treeline IDE</li>
                    <li>Contribute</li>
                    <li>Logos/artwork</li>
                </ul>
            </div>
            
            <div class=" col-4 sctinsails">
                <h5>About</h5>
                <ul>
                    <li>The Sails Company</li>
                    <li>Security</li>
                    <li>News</li>
                    <li>Legal</li>
                </ul>
            </div>
            <div class=" col-4 sctinsails">
                    <h5>Help</h5>
                    <ul>
                        <li>Get started</li>
                        <li>Documentation</li>
                        <li>Enterprise</li>
                        <li>Hire us</li>
                    </ul>
                </div>    
        </div>
        <div class="container-fluid row">
            <div class="col-8  company">
            <img src="http://sailsjs.com/images/logo_sails.png" alt="sails">
            <p>© 2012-2017 The Sails Company. </p>
            <p class="license">The Sails framework is free and open-source under the MIT License.</p>
            </div>
            <div class="container-fluid logossocial col-4">
                <ul>
                    <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-github fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></li>
                </ul>

            </div>
        </div>
    </div>    
</div>