
.footer
   background-color: #001C20
   width: 100%
   color: white
   margin: 0px
   padding: 0px
 
   
   
   .build
      padding: 5% 9% 0px 14%
      font-weight: lighter
      font-size: 1.5vw
      h4  
          font-size: 2vw
          p  
             font-size: 4px
             font-family: Lato,Helvetica,Arial,sans-serif
             font-weight: lighter
    
    .help
        padding: 5% 7% 0% 0%
        font-weight: lighter

        
        .sctinsails
            padding: 0px
            h5 
               font-size: 14px
            ul  
                padding: 0px 0px 0px 0px 
                margin: 0px
                font-weight: lighter
                
                font-size: 1.5vw
                
            li 
                list-style: none
                padding: 0px 0px 10% 0px 
                    
                            
    .company
        padding: 2% 0px 0px 14%
        img 
            width: 120px
        p  
            
            margin: 0px
            font-size: 1.5vw
            .license
                 font-size: .5vw
    .logossocial
         color: white
         padding: 5% 0px 0px 0%
         ul 
            padding: 0px
            li 
                 display: inline-block
                 padding: 3%
                 