<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center">Approachable</h1>
      <p class="text-center">Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Versatile</h1>
      <p class="text-center">An incrementally adoptable ecosystem that scales between a library and a full-featured framework.</p>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Performant</h1>
      <p class="text-center">20kb min+gzip Runtime
      Blazing Fast Virtual DOM
      Minimal Optimization Efforts</p>
    </div>
  </div>
</div>