.container-fluid 
    padding-top 20px
    padding-left 200px
    padding-right 200px
    .row .col-md-4 
        padding-right 40px
        h1
            color #42b983 !important
            font-family 'Source Sans Pro', sans-serif
            font-size 1.5em
            font-weight 200
        p
            color rgb(134, 146, 147)
            font-size 15px
            font-family 'Source Sans Pro', sans-serif
            font-weight 200
