div
 background-color: 	#EEE8AA 

.border
   border-radius: 10%
   height: 260px
   width: 215px
   padding: 10px
   margin:10px 60px 10px 60px
   background linear-gradient(#20B2AA, #c3faff) 
   box-shadow: 5px 5px 8px #999
   border-style:groove
   border:15px


.footer
  margin:20px 0px 0px 0px